{# {% extends "../templates/application.html" %}
{% block body %}
<h2>oolaaa</h2>
{% endblock %} #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <title>Universo Traduções | Registrar</title>
    
    <!-- page css -->
    <link href="/admin/dist/css/pages/login-register-lock.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/admin/dist/css/style.min.css" rel="stylesheet">
    
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="skin-default card-no-border">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white">
  <img src="https://trello-attachments.s3.amazonaws.com/5c88f9faae42653719f426cd/5c8ababca4e26c31d0023d76/f14c15fdfa72fd1c1fe6d5c086558c5f/logo-ut-roxo-fundo-transparente.png" width="200" class="desktop" alt="homepage" /></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {# <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Elite admin</p>
        </div>
    </div> #}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material" id="loginform" method="post" action="/login">
                        <h3 class="text-center m-b-20">Login</h3>
                            <div style= "margin-bottom: 20px; margin-top: 20px;" class="text-center">
                                <a href="{{url}}">
                                    <button class="btn btn-googleplus waves-effect waves-light" type="button" style="width: 80%;">
                                        <i class="fab fa-google 2x"></i> Login com o Google
                                    </button>
                                </a>
                            </div>
                            {# <div style= "margin-bottom: 20px;" class="text-center">
                                <a href="https://www.facebook.com/v3.2/dialog/oauth?client_id=664147130649969&redirect_uri=https://plataforma.universotraducoes.com/auth/facebook/callback&scope=email">
                                    <button class="btn btn-facebook waves-effect waves-light" type="button" style="width: 80%;">
                                        <i class="fab fa-facebook 2x"></i> Login com o Facebook
                                    </button>
                                </a>
                            </div> #}
                        {% if flash %}
                        <h5 class="text-success text-center" class="text-center">{{flash}}</h5>
                        {% endif %}
                        {% if attempt %}
                        <h5 style="color: red" class="text-center">Login ou senha inválidos</h5>
                        {% endif %}
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" name="email" required placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" name="password" required placeholder="Senha">
                            </div>
                        </div>
                        <p class="text-center"><a href="/forgotpassword" class="text-info m-l-5">Esqueci minha senha</a></p>
                        <div class="form-group text-center p-b-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">Acessar</button>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                Ainda não tem uma conta? 
                                <p>
                                <a href="/registrar" class="text-info m-l-5"><b>Sou um CLIENTE</b></a>
                                 ou 
                                <a href="http://universotraducoes.com/pt/trabalhe-conosco/" class="text-info m-l-5"><b>Sou um TRADUTOR</b></a>
                                </p>
                            </div>
                        </div>
                        <input type="hidden" name="type" value="user" />
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/admin/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/admin/assets/node_modules/popper/popper.min.js"></script>
    <script src="/admin/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $(".preloader").fadeOut();
        });
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });
        // ============================================================== 
        // Login and Recover Password 
        // ============================================================== 
        $('#to-recover').on("click", function() {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>
    <script>
    $(document).ready(function() {
        $(".voltar").click(function() {
            console.log()
            window.history.back();
        })
    })
    
    </script>
</body>

</html>