{# {% extends "../templates/application.html" %}
{% block body %}
<h2>oolaaa</h2>
{% endblock %} #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <title>Universo Traduções | Registrar</title>
    
    <!-- page css -->
    <link href="/admin/dist/css/pages/login-register-lock.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/admin/dist/css/style.min.css" rel="stylesheet">
    
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="skin-default card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register" style="background-image:url(/admin/assets/images/background/login-register.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material" id="loginform" method="post" action="/register">
                        <h3 class="text-center m-b-20">Registrar</h3>
                            <div style= "margin-bottom: 20px; margin-top: 20px;" class="text-center">
                                <a href="{{url}}">
                                    <button class="btn btn-googleplus waves-effect waves-light" type="button" style="width: 80%;">
                                        <i class="fab fa-google 2x"></i> Registrar com o Google
                                    </button>
                                </a>
                            </div>
                            {# <div style= "margin-bottom: 20px;" class="text-center">
                                <a href="https://www.facebook.com/v3.2/dialog/oauth?client_id=664147130649969&redirect_uri=https://plataforma.universotraducoes.com/auth/facebook/callback&scope=email">
                                    <button class="btn btn-facebook waves-effect waves-light" type="button" style="width: 80%;">
                                        <i class="fab fa-facebook 2x"></i> Registrar com o Facebook
                                    </button>
                                </a>
                            </div> #}
                            <div class="text-center termos">
                            <span class="text-danger " class="text-center">Voce precisa aceitar nossos termos de serviço</span>
                            </div>
                        {% if flash %}
                            <h5 class="text-danger text-center" class="text-center">Email já cadastrado</h5>
                        {% endif %}
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" name="name" required placeholder="Nome">
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" name="email" required placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" name="password" required placeholder="Senha">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Aceito os <a href="/termo-user.pdf" target="_blank">Termos e Condições</a></label> 
                                </div> 
                            </div>
                        </div>
                        <div class="form-group text-center p-b-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">Registrar</button>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                <h5><a href="/tradutor/registrar" class="text-info m-l-5"><b>Sou um tradutor</b></a></h5>
                            </div>
                            <div class="col-sm-12 text-center">
                                Já tem uma conta? <a href="/login" class="text-info m-l-5"><b>Entrar</b></a>
                            </div>
                        </div>
                        <input type="hidden" name="type" value="user" />
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/admin/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/admin/assets/node_modules/popper/popper.min.js"></script>
    <script src="/admin/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function() {
        $(".termos").hide()
    })
    $("#loginform").submit(function (e) {
        if($("#customCheck1").is(':checked')) {
            $
        } else {
            e.preventDefault()
            $(".termos").show()
            console.log('not checked')
    }
    })
    </script>
    <script type="text/javascript">
        $(function() {
            $(".preloader").fadeOut();
        });
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });
        // ============================================================== 
        // Login and Recover Password 
        // ============================================================== 
        $('#to-recover').on("click", function() {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>
</body>

</html>