{% extends "../../Templates/admin.html" %}
{% block body %}
<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Nova Configuração de serviço</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Configuração de serviços</a></li>
                                <li class="breadcrumb-item active">Criar Nova</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post">
                                    <div class="form-body">
                                        <h3 class="card-title">Criar nova configuração de serviço</h3>
                                        <hr>
                                        <div class="row p-t-20">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Nome</label>
                                                    <input type="text" name="name" value="{{serviceconfig.name}}" class="form-control" placeholder="Use um nome para facilitar a identificação" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Preço</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon2"><i class="ti-money"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control"  value="{{serviceconfig.price}}" name="price" placeholder="Ex: 0,2" aria-label="Email" aria-describedby="basic-addon2" required>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Lingua de Origem</label>
                                                    <select class="form-control custom-select" name="lang_origem" data-placeholder="Escolha a lingua de origem" tabindex="1">
                                                        {% for language in languages %}
                                                        <option {% if serviceconfig.lang_origem | string == language._id %}selected="selected"{% endif %} value="{{language._id}}">{{language.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Lingua de Destino</label>
                                                    <select class="form-control custom-select" name="lang_dest" data-placeholder="Escolha a lingua de destino" tabindex="1">
                                                        {% for language in languages %}
                                                        <option {% if serviceconfig.lang_dest | string == language._id %}selected="selected"{% endif %} value="{{language._id}}">{{language.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Tipo de Serviço</label>
                                                    <select class="form-control custom-select" name="tipo_de_servico" data-placeholder="Selecione o Tipo de Serviço" tabindex="1">
                                                        <option {% if serviceconfig.tipo_de_servico == "Traducao" %}selected="selected"{% endif %} value="Traducao">Traducao</option>
                                                        <option {% if serviceconfig.tipo_de_servico == "Revisao" %}selected="selected"{% endif %} value="Revisao">Revisao</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Qualidade</label>
                                                    <select class="form-control custom-select" name="qualidade" data-placeholder="Selecione a Qualidade" tabindex="1">
                                                        <option {% if serviceconfig.qualidade == "Standart" %}selected="selected"{% endif %} value="Standart">Normal</option>
                                                        <option {% if serviceconfig.qualidade == "Premium" %}selected="selected"{% endif %} value="Premium">Premium</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Limite de Palavras 1</label>
                                                    <input type="text" value="{{serviceconfig.limite_palavras1}}" name="limite_palavras1" class="form-control" required>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Limite de Palavras 2</label>
                                                    <input type="text" value="{{serviceconfig.limite_palavras2}}" name="limite_palavras2" class="form-control" required>
                                                </div>
                                            </div>
                                            <!--/span-->
                                              <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Limite de Palavras 3</label>
                                                    <input type="text"  value="{{serviceconfig.limite_palavras3}}" name="limite_palavras3" class="form-control" required>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Prazo 1</label>
                                                    <input type="text"  value="{{serviceconfig.prazo1}}" name="prazo1" class="form-control" required>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Prazo 2</label>
                                                    <input type="text" value="{{serviceconfig.prazo2}}" name="prazo2" class="form-control" required>
                                                </div>
                                            </div>
                                            <!--/span-->
                                              <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Prazo 3</label>
                                                    <input type="text" value="{{serviceconfig.prazo3}}" name="prazo3" class="form-control" required>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Prazo Adicional</label>
                                                    <input type="text" name="prazo" class="form-control" value="{{serviceconfig.prazo}}" required>
                                                    <small class="form-control-feedback"> Prazo (em dias) a ser adicionado a cada 1500 palavras excendetes ao prazo 3 </small>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Salvar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
{% endblock %}