{% extends "../../Templates/admin.html" %}
{% block body %}
<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Configurações de serviços</h4>
                    </div>

                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0)">Admin</a>
                                </li>
                                <li class="breadcrumb-item active">Configurações de Serviços</li>
                            </ol>
                            <a href="serviceconfigs/new">
                              <button type="button" class="btn btn-info d-none d-lg-block m-l-15">
                                  <i class="fa fa-plus-circle"></i> Criar nova
                              </button>
                            </a>
                        </div>
                    </div>
                </div>
                {% if message %}
                <div class="alert alert-success"><i class="fa fa-check-circle"></i> Sucesso!</div>
                {% endif %}
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Configurações de Serviços</h4>
                                <h6 class="card-subtitle">Faça as configurações dos serviços realizados</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Lingua Origem</th>
                                                <th>Lingua Destino</th>
                                                <th>Preço</th>
                                                <th>Qualidade</th>
                                                <th>Tipo de Serviço</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Lingua Origem</th>
                                                <th>Lingua Destino</th>
                                                <th>Preço</th>
                                                <th>Qualidade</th>
                                                <th>Tipo de Serviço</th>
                                                <th>Ações</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                        {% for serviceconfig in serviceconfigs %}
                                            <tr>
                                                {% for item in serviceconfig.lang_origem %}
                                                <td>{{ item.name }}</td>
                                                {% endfor %}
                                                {% for item in serviceconfig.lang_dest %}
                                                <td>{{ item.name }}</td>
                                                {% endfor %}
                                                <td>{{ serviceconfig.price }}</td>
                                                <td>{{ serviceconfig.qualidade }}</td>
                                                <td>{{ serviceconfig.tipo_de_servico }}</td>
                                                <td>
                                                  <a href="serviceconfigs/edit/{{serviceconfig._id}}">
                                                    <i class="far fa-edit"></i>
                                                  </a>
                                                  <a href="serviceconfigs/delete/{{serviceconfig._id}}">
                                                    <i class="far fa-trash-alt"></i>
                                                  </a>
                                                </td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    {% endblock %}
    {% block extrajs %} 
    <script src="/admin/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="/admin/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <!--This page plugins -->
    <script src="/admin/assets/node_modules/datatables/datatables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <!-- end - This is for export functionality only -->
    <script>
        $(function () {
            $('#myTable').DataTable({
              serviceconfig: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json'
              }
            });
            $(function () {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
        $('#example23').DataTable({
            dom: 'Bfrtip',
            serviceconfig: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json'
            }
        });
    </script>
    {% endblock %}
