{% extends "../Templates/template.html" %}
{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Aqui você pode visualizar seus pagamentos</h4>
                <h6 class="card-subtitle">Confira seu extrato</h6>
                <div class="row m-t-40">
                    <!-- Column -->
                    <!-- Column -->
                    <!-- Column -->
                    <!-- Column -->
                    {% if current_user.is_tradutor %}
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white">{{ saldo.available.amount }}</h1>
                                <h6 class="text-white">Valor disponível a receber</h6>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if current_user.is_tradutor %}
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-primary text-center">
                                <h1 class="font-light text-white">{{ saldo.waiting_funds.amount }} </h1>
                                <h6 class="text-white">Aguardando compensação</h6>                                
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if current_user.is_tradutor %}
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white">{{ saldo.transferred.amount }}</h1>
                                <h6 class="text-white">Total de ganhos</h6>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Column -->
                </div>
                <div class="table-responsive">
                    <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">Abrir novo ticket</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <from class="form-horizontal form-material">
                                                    <div class="form-group">
                                                        <div class="col-md-12 m-b-20">
                                                            <input type="text" class="form-control" placeholder="Assunto">
                                                        </div>
                                                        <div class="col-md-12 m-b-20">
                                                            <textarea rows="3" type="text" class="form-control" placeholder="Relate seu problema"></textarea>
                                                        </div>
                                                    </div>
                                                </from>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Salvar</button>
                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div><table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th>ID #</th>
                                <th>Tradução</th>
                                <th>Preço</th>
                                <th>Data da solicitação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for translation in translations %}
                            <tr>
                                <td>{{translation.uid}}</td>
                                <td><a href="/translations/show/{{translation._id}}">Ver</a></td>
                                <td>R${{translation.price}}</td>
                                <td>
                                    {{translation.created_at}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <div class="text-right">
                                        <ul class="pagination"> </ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}