{% block header %}
<html>
  <head>
    <title>Universo Traducoes</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert2.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.4/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
          <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.4/dist/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


  </head>

  <body class="light-grey">
  <div class="d-flex navbar-u flex-column flex-md-row align-items-center p-3 px-md-4">
      <h5 class="my-0 mr-md-auto font-weight-normal">
        <a href="/" >
        <img src="/images/logo2.png" width="170px" />
        </a>
      </h5>
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-user"></i> {{ current_user.name }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item logout" href="/users/profile">Meu Perfil</a>
    <a class="dropdown-item logout" href="#">Logout</a>
  </div>
</div>
    </div>
      <div class="container">
          {% block body %}{% endblock %}
      </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/pt-br.js"></script>
  <script src="http://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script> 
  <script src="http://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
  <script>
   $(document).ready(function() {
     $('.logout').click(function() {
       $.ajax({
          url: "/logout",
          method: 'post'
        }).done(function() {
          window.location = "/login";
        });
     })
   })
  </script>   
  {% block extrajs %} {% endblock %}
  {# <script>
    toastr.warning('My name is Inigo Montoya. You killed my father, prepare to die!')
  </script> #}
</html>
{% endblock %}