{% extends "../Templates/template.html" %}
{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Atendimentos</h4>
                <h6 class="card-subtitle">Atendimentos solcitados por você</h6>
                <div class="row m-t-40">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white">{{ tickets | length }}</h1>
                                <h6 class="text-white">Total de Tickets</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-primary text-center">
                                <h1 class="font-light text-white">0</h1>
                                <h6 class="text-white">Respondidos</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white">0</h1>
                                <h6 class="text-white">Solucionados</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card">
                            <div class="box bg-dark text-center">
                                <h1 class="font-light text-white">0</h1>
                                <h6 class="text-white">Pendentes</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <div class="table-responsive">
                    <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">Abrir novo ticket</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/tickets" id="ticketform" class="form-horizontal form-material" method="post">
                                                    <div class="form-group">
                                                        <div class="col-md-12 m-b-20">
                                                            <input type="text"  id="tickettitle" name="title" class="form-control" placeholder="Assunto">
                                                        </div>
                                                        <div class="col-md-12 m-b-20">
                                                            <textarea rows="3" id="tickettext" type="text" name="description" class="form-control" placeholder="Relate seu problema"></textarea>
                                                        </div>
                                                    </div> 
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" form="ticketform" id="submit" class="btn btn-info waves-effect" data-dismiss="modal">Salvar</button>
                                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                                                    </div>
                                            </form>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div><table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th>ID #</th>
                                <th>Aberto por</th>
                                <th>Email</th>
                                <th>Assunto</th>
                                <th>Status</th>
                                <th>Resposta</td>
                                <th>Data</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ticket in tickets %}
                            <tr>
                                <td>{{ticket.uid}}</td>
                                <td>
                                    <a href="javascript:void(0)"><img width="30px" src="{{ current_user.picture }}" alt="user" class="img-circle">{{current_user.name}}</a>
                                </td>
                                <td>{{ current_user.email }}</td>
                                <td>{{ticket.title}}</td>
                                <td><span class="label label-warning">{{ticket.status}}</span> </td>
                                <td>{{ticket.response}}</td>
                                <td>{{ticket.created_at}}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                </td>
                                
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Abrir novo Ticket</button>
                                </td>
                                
                                <td colspan="6">
                                    <div class="text-right">
                                        <ul class="pagination"> </ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}