{% extends "../Templates/template.html" %}
{% block body %}
  {% if message %}
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> Atualizado com sucesso!</div>
  {% endif %}
<div class="row">
<!-- Column -->
<div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card">
        <div class="card-body">
            <center class="m-t-30"> <img src="{{ current_user.picture }}" class="img-circle" width="150">
                <h4 class="card-title m-t-10">{{current_user.name}}</h4>
                <h6 class="card-subtitle">{{current_user.short_description}}</h6>
                {% if current_user.is_tradutor %}
                    <div class="row text-center justify-content-md-center">
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-notebook"></i> <font class="font-medium">0</font></a></div>
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-star"></i> <font class="font-medium">{{ avaliacao }} </font></a></div>
                    </div>
                {% endif %}
            </center>
        </div>
        <div>
            <hr> </div>
        <div class="card-body">
                                {% if current_user.is_tradutor %}
                        <div class="col-md-12 col-xs-6 b-r">
                            <br>
                             <p>Ao usar a plataforma você concorda com os <a href="/termo-tradutor.pdf" target="_blank">Termos e Condições</a></p> 
                        </div>
                        {% endif %}
            <small class="text-muted">Email </small>
            <h6>{{ current_user.email }}</h6>
            {% if current_user.is_tradutor %}
            <small class="text-muted">Código Tradutor </small>
            <h6>{{ current_user.uid}}</h6>
            {% endif %}
            <small class="text-muted p-t-30 db">Telefone</small>
            {% if current_user.phone %}
            <h6>{{current_user.phone}}</h6>
            {% else %}
            <h6>Adicinar Telefone</h6>
            {% endif %}
            {# <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook-f"></i></button>
            <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
            <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button> #}
        </div>
    </div>
</div>
<!-- Column -->
<!-- Column -->
<div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs profile-tab" role="tablist">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Perfil</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Editar</a> </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!--second tab-->
            <div class="tab-pane active" id="profile"  role="tabpanel">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-3 col-xs-6 b-r"> <strong>Nome</strong>
                            <br>
                            <p class="text-muted">{{current_user.name}}</p>
                        </div>
                        <div class="col-md-3 col-xs-6 b-r"> <strong>Telefone</strong>
                            <br>
                            <p class="text-muted">{{current_user.phone}}</p>
                        </div>
                        <div class="col-md-3 col-xs-6 b-r"> <strong>Nascimento</strong>
                            <br>
                            <p class="text-muted">{{current_user.nascimento}}</p>
                        </div>
                        <div class="col-md-3 col-xs-6"> <strong>Membro desde</strong>
                            <br>
                            <p class="text-muted">{{current_user.created_at}}</p>
                        </div>
                    </div>
                    {% if current_user.is_tradutor %}
                    <div class="row">
                        <div class="col-md-3 col-xs-6 b-r"> <strong>Testes realizados</strong>
                            <br>
                            <p class="text-muted"><strong>0</strong></p>
                        </div>
                        <div class="col-md-3 col-xs-6 b-r"> <strong>Resultados</strong>
                            <br>
                            <p class="text-muted">Nenhum Resultado ainda</p>
                        </div>
                        <div class="col-md-3 col-xs-6 b-r"> <strong>Linguas</strong>
                            <br>
                            
                                <p class="text-muted">
                                {% for language in languages %}
                                {{ language.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                                </p>
                            
                        </div>
                        {% if current_user.is_tradutor %}
                        <div class="col-md-3 col-xs-6 b-r"> <strong>Curriculum</strong>
                            <br>
                            <a href="/{{current_user.curriculum}}"><p class="text-muted">Curriculum</p></a>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    <hr>

                    {{current_user.description}}
                    
                </div>
            </div>
            <div class="tab-pane" id="settings" role="tabpanel">
                <div class="card-body">
                    <form class="form-horizontal form-material" method='post' enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-md-12">Nome</label>
                            <div class="col-md-12">
                                <input type="text" name="name" value="{{current_user.name}}" class="form-control form-control-line">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="example-email" class="col-md-12">Email</label>
                            <div class="col-md-12">
                                <input type="email" name="email" value="{{current_user.email}}" class="form-control form-control-line" name="example-email" id="example-email">
                            </div>
                        </div>
                        {% if current_user.is_tradutor %}
                        <br />
                        <h4>Dados Bancários</h4>
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-12">Banco:</label>
                            <div class="col-sm-12">
                                <select name="banco" class="form-control form-control-line">
                                    <option value="341" {% if current_user.banco == 341 %} selected {% endif %}>ITAÚ</option>
                                    <option value="237" {% if current_user.banco == 237 %} selected {% endif %}>BRADESCO</option>
                                    <option value="033" {% if current_user.banco == 033 %} selected {% endif %}>SANTANDER</option>
                                    <option value="104" {% if current_user.banco == 104 %} selected {% endif %}>CAIXA</option>
                                    <option value="001" {% if current_user.banco == 001 %} selected {% endif %}>BANCO DO BRASIL</option>
                                    <option value="212" {% if current_user.banco == 212 %} selected {% endif %}>ORIGINAL</option>
                                    <option value="121" {% if current_user.banco == 121 %} selected {% endif %}>AGIPLAN</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Nome completo ou Razão social</label>
                            <div class="col-md-12">
                                <input type="text" name="nome_completo" value="{{current_user.nome_completo}}" class="form-control form-control-line">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">CPF ou CNPJ do titular</label>
                            <div class="col-md-12">
                                <input type="text" name="cpf_cnpj" value="{{current_user.cpf_cnpj}}" class="form-control form-control-line">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Agência</label>
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" placeholder="Numero" name="agencia" value="{{current_user.agencia}}" class="form-control form-control-line">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" placeholder="Dígito" name="agencia_dg" value="{{current_user.agencia_dg}}" class="form-control form-control-line">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Conta</label>
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" placeholder="Numero" name="conta" value="{{current_user.conta}}" class="form-control form-control-line">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" placeholder="Dígito" name="conta_dg" value="{{current_user.conta_dg}}" class="form-control form-control-line">
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="example-email" class="col-md-12">Foto</label>
                            <div class="col-md-12">
                                <input type="file" name="picture" class="form-control form-control-line" name="example-email" id="example-email">
                            </div>
                        </div>
                        {% if current_user.is_tradutor %}
                        <div class="form-group">
                            <label for="example-email" class="col-md-12">Curriculum</label>
                            <div class="col-md-12">
                                <input type="file" name="curriculum" class="form-control form-control-line" name="example-email" id="example-email">
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-md-12">Telefone</label>
                            <div class="col-md-12">
                                <input type="text" name="phone" placeholder="XX XXXXX XXXX" value="{{current_user.phone}}" class="form-control form-control-line phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Profissão</label>
                            <div class="col-md-12">
                                <input type="text" name="short_description" maxlength='100' value="{{current_user.short_description}}" class="form-control form-control-line">
                                <small>Máximo de 100 caracteres</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="m-t-20">Data de Nascimento</label>
                            <input type="text" class="form-control" name="nascimento" id="mdate" data-dtp="dtp_L6MKc">
                        </div>

                        {# <div class="form-group">
                            <label class="col-sm-12">Select Country</label>
                            <div class="col-sm-12">
                                <select class="form-control form-control-line">
                                    <option>London</option>
                                    <option>India</option>
                                    <option>Usa</option>
                                    <option>Canada</option>
                                    <option>Thailand</option>
                                </select>
                            </div>
                        </div> #}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="submit" class="btn btn-success" value="Editar Perfil">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Column -->
</div>
{% endblock %}
{% block extrajs %}
<script>
var cleave = new Cleave('.phone', {
    phone: true,
    phoneRegionCode: 'BR'
});
</script>
{% endblock %}