{% extends "../Templates/template.html" %}
{% block body %}
<div class="row">
<div class="col-md-4 col-sm-12 col-xs-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">A Ferramenta</h4>
            <h6 class="card-subtitle"></h6>
            <div id="accordion1" role="tablist" aria-multiselectable="true">
                <div class="card m-b-0">
                    <div class="card-header" role="tab" id="headingOne1">
                        <h5 class="mb-0">
                        <a class="link collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne">
                         Q1. Por que a Universo Traduções é diferente das agências tradicionais? O que é diferente na nossa abordagem?
                        </a>
                      </h5>
                    </div>
                    <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" style="">
                        <div class="card-body">
Na nossa plataforma, você gerencia a tradução realizada por nossa equipe de tradutores. Isso garante eficiência e confiabilidade. Você pode solicitar, acompanhar e gerenciar todos os seus projetos diretamente de seu computador pessoal, economizando o tempo que seria gasto com trocas de e-mails e anexos.
                        </div>
                    </div>
                </div>
                <div class="card m-b-0">
                    <div class="card-header" role="tab" id="headingTwo2">
                        <h5 class="mb-0">
                        <a class="collapsed link" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
             Q2. Com que idiomas a Universo trabalha?
                        </a>
                      </h5>
                    </div>
                    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2">
                        <div class="card-body">
Pode conferir na nossa página de Preços e Idioma https://universotraducoes.com/pt/precos-e-idiomas/
para uma lista completa dos idiomas de tradução com que trabalhamos. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12 col-xs-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Pagamentos</h4>
            <h6 class="card-subtitle"></h6>
            <div id="accordion11" role="tablist" aria-multiselectable="true">
                <div class="card m-b-0">
                    <div class="card-header" role="tab" id="headingSix">
                        <h5 class="mb-0">
                        <a class="link collapsed" data-toggle="collapse" data-parent="#acordion1" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                         Q1. Como posso consultar o valor da tradução do meu projeto?
                        </a>
                      </h5>
                    </div>
                    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingOne11" style="">
                        <div class="card-body">
                       Depois de preparar seu texto-fonte, você pode copiá-lo e colá-lo na caixa de texto disponível, ou carregar o documento em nosso formulário de solicitação on-line. Depois disso, você receberá uma estimativa de preço sem custo. A plataforma vai detectar a contagem de palavras automaticamente, e você estimativa de preço será de acordo nosso nível Básico de tradução. O idioma original do seu texto também será detectado automaticamente, mas poderá ser modificado em caso de erro. Depois disso, você deverá selecionar o(s) idioma(s)-alvo e o nível de especialidade que seu projeto exige (Básico ou Premium). 
                        </div>
                    </div>
                </div>
                <div class="card m-b-0">
                    <div class="card-header" role="tab" id="headingSeven">
                        <h5 class="mb-0">
                        <a class="collapsed link" data-toggle="collapse" data-parent="#accordion12" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                          Q2. É possível negociar um desconto?
                        </a>
                      </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
                        <div class="card-body">
Os preços da Universo já são projetados com base em projetos com alto número de palavras, e nossas traduções custam, em média, 70% menos do que em outras agências. Em projetos de tradução Básica que envolvem mais de 1 milhão de palavras, seria possível negociar revisões extra sem preço adicional. No entanto, não é possível oferecermos descontos de pre                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12 col-xs-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Outras Dúvidas</h4>
            <h6 class="card-subtitle"></h6>
            <div id="accordion1" role="tablist" aria-multiselectable="true">
                <div class="card m-b-0">
                    <div class="card-header" role="tab" id="heading8">
                        <h5 class="mb-0">
                        <a class="link collapsed" data-toggle="collapse" data-parent="#accordion13" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                          Q1. Quem são os tradutores, e onde estão localizados?
                        </a>
                      </h5>
                    </div>
                    <div id="collapse8" class="collapse" role="tabpanel3" aria-labelledby="heading8" style="">
                        <div class="card-body">
                            A equipe de tradutores Universo é composta por profissionais da tradução que amam traduzir e têm habilidades de escrita excepcionais. Todos são especializados em diferentes áreas e têm diferentes focos, mas trabalham com eficiência e dedicação. A Universo está presente em diversos países e conta com tradutores em todos os fusos horários do mundo, para sua comodidade. 
Para ter uma ideia de nossos testes de tradução e do nível de experiência que exigimos de nossos profissionais, vá até a página de Política de Qualidade.
                        </div>
                    </div>
                </div>
                <div class="card m-b-0">
                    <div class="card-header" role="tab" id="heading9">
                        <h5 class="mb-0">
                        <a class="collapsed link" data-toggle="collapse" data-parent="#accordion13" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                          Q2. Como funcionam os testes de tradução?
                        </a>
                      </h5>
                    </div>
                    <div id="collapse9" class="collapse" role="tabpanel3" aria-labelledby="heading9">
                        <div class="card-body">
                           Os tradutores da Universo Tradução respondem a um teste de tradução elaborado por nossos especialistas em linguagem. De todos que passam por este teste, apenas cerca de 1,6% são aprovados.
Para trabalhar com o nível de qualidade mais avançado oferecido pela Universo (Premium), os profissionais da tradução respondem a outros testes, que exigem mais atenção a detalhes, mais conhecimento técnico e mais experiência.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading10">
                        <h5 class="mb-0">
                        <a class="collapsed link" data-toggle="collapse" data-parent="#accordion13" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                          Q3. Como a Universo contrata estes especialistas da linguagem?
                        </a>
                      </h5>
                    </div>
                    <div id="collapse10" class="collapse" role="tabpanel3" aria-labelledby="heading10">
                        <div class="card-body">
                            Nossos especialistas da linguagem são profissionais da tradução que também são falantes nativos no idioma-alvo em questão. Eles são selecionados, testados e aprovados, assegurando, assim, que obedeçam a garantia de qualidade da Universo Traduções, e que tenham o conhecimento e a experiência necessários na área de tradução para supervisionar um grande número de tradutores. Há um exaustivo processo de entrevistas e uma avaliação minuciosa da experiência de cada tradutor para que ele ou ela possa ser aceito como especialista da linguagem.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading12">
                        <h5 class="mb-0">
                        <a class="collapsed link" data-toggle="collapse" data-parent="#accordion13" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                          Q4. Que formatos de arquivo posso anexar?
                        </a>
                      </h5>
                    </div>
                    <div id="collapse12" class="collapse" role="tabpanel3" aria-labelledby="heading12">
                        <div class="card-body">
                         <p> Formatos de arquivo suportados: PDF, WORD e PPT.</p>
   <p> A plataforma não aceita imagens dentro destes formatos </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading13">
                        <h5 class="mb-0">
                        <a class="collapsed link" data-toggle="collapse" data-parent="#accordion13" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
                          Q5. Os tradutores conseguirão manter o layout e o design do meu projeto?
                        </a>
                      </h5>
                    </div>
                    <div id="collapse13" class="collapse" role="tabpanel3" aria-labelledby="heading13">
                        <div class="card-body">
A equipe de tradução Universo fará o possível para manter o design e o layout do seu projeto. Porém, manter esta formatação nem sempre é possível. Alguns arquivos, especialmente PDF, têm formatações complexas que não podem ser mantidas durante a tradução. Muitas vezes, re-formatar este layout exige conhecimento especializado de design. A responsabilidade dos tradutores é traduzir o texto. O cliente deverá corrigir os problemas de formatação que possam surgir, garantindo que o arquivo final tenha a aparência desejada.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading14">
                        <h5 class="mb-0">
                        <a class="collapsed link" data-toggle="collapse" data-parent="#accordion13" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
                          Q6. Em que casos devo solicitar uma revisão?
                        </a>
                      </h5>
                    </div>
                    <div id="collapse14" class="collapse" role="tabpanel3" aria-labelledby="heading14">
                        <div class="card-body">
Caso você encontre algum problema na tradução, ou caso o tradutor não tenha respondido a todas as suas solicitações e seus comentários, solicite uma revisão e explique quais alterações devem ser realizadas.
O tradutor responsável pelo seu projeto terá um dia (24h) para atender o seu pedido; este período pode ser estendido dependendo do tamanho do texto original. Em caso de o tradutor inicial não responder dentro do prazo, o projeto será repassado para outro profissional. Você não terá nenhum custo adicional pelas correções. Você também tem a opção de não aceitar o trabalho, se achar necessário.                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading15">
                        <h5 class="mb-0">
                        <a class="collapsed link" data-toggle="collapse" data-parent="#accordion13" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
                          Q7. Como posso fornecer feedback sobre minha tradução?
                        </a>
                      </h5>
                    </div>
                    <div id="collapse15" class="collapse" role="tabpanel3" aria-labelledby="heading15">
                        <div class="card-body">
Na secção de comentários, você verá uma caixa de texto na qual poderá enviar seu feedback. Por favor, conte como se sentiu em relação à eficiência de resposta, à qualidade da tradução e às soluções apresentadas pelo tradutor para suas necessidades. Para comentários mais gerais ou reclamações, entre em contato conosco enviando um e-mail para atendimento@universotraducoes.com.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading16">
                        <h5 class="mb-0">
                        <a class="collapsed link" data-toggle="collapse" data-parent="#accordion13" href="#collapse16" aria-expanded="false" aria-controls="collapse16">
                          Q9. Como funcionam os níveis de qualidade da tradução?
                        </a>
                      </h5>
                    </div>
                    <div id="collapse16" class="collapse" role="tabpanel3" aria-labelledby="heading16">
                        <div class="card-body">
O Básico é o serviço com entrega mais rápida, o mais recomendável para a maior parte dos projetos que não têm conteúdo técnico, como descrições, postagens em sites, e-mails, apps de celular ou redes sociais. Todos os tradutores de nível Básico passam por um teste de Múltipla Escolha e por um teste. Você pode confiar nas traduções realizadas neste nível, quanto à exatidão e qualidade.
<br/>
O Premium é recomendado para traduções mais técnicas, como notícias que serão publicadas em grandes veículos, artigos para revistas especializadas, manuais do usuário, informações específicas ou marketing on-line.  </div>
</div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading17">
                        <h5 class="mb-0">
                        <a class="collapsed link" data-toggle="collapse" data-parent="#accordion13" href="#collapse17" aria-expanded="false" aria-controls="collapse17">
                          Q10. A Universo Traduções utiliza traduções automáticas?
                        </a>
                      </h5>
                    </div>
                    <div id="collapse17" class="collapse" role="tabpanel3" aria-labelledby="heading17">
                        <div class="card-body">
Não, realizamos somente tradução humana. Nossa equipe de tradutores usa ferramentas de tradução (ferramentas CAT), que aceleram o processo tradutório e garantem consistência no uso de termos técnicos. Porém, a tradução é feita por um profissional, não uma máquina.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}