{% extends "../Templates/application.html" %}
{% block body %}
<div class="row" style="margin-top: 40px">
  <div class="col-6 col-md-3">
   <a href="/users/profile">
    <div class="box-services">
       <p><i class="fa fa-user" style="font-size: 60px;"></i></p>
        Meu Perfil
    </div>
    </a>
  </div>
   <div class="col-6 col-md-3">
   <a href="/translations">
    <div class="box-services">
        <p><i class="fa fa-language" style="font-size: 60px;"></i></p>
        Painel de Traduções
    </div>
    </a>
  </div>
     <div class="col-6 col-md-3">
    <div class="box-services">
        <p><i class="fa fa-dollar-sign" style="font-size: 60px;"></i></p>
        Financeiro
    </div>
  </div>
   <div class="col-6 col-md-3">
    <div class="box-services">
        <p><i class="fa fa-question" style="font-size: 60px;"></i></p>
        SAC
    </div>
  </div>
</div>
<div class="row" style="margin-top: 30px">
  <div class="col-6 col-md-3">
    <div class="box-services">
    <p><i class="fa fa-newspaper" style="font-size: 60px;"></i></p>
    Ultimas Novidades
    </div>
  </div>
</div>
{% endblock %}