
<p class="p1"><span class="s1"><strong>Termos e Condições de Uso da Plataforma Universo Traduções - Tradutores</strong></span></p>
<p class="p2">
  <br>
</p>
<p class="p3"><span class="s2">Os presentes termos e condições gerais de uso (doravante, Termo) se aplicam ao site da Universo Traduções Ltda (doravante, Universo Traduções), cujo domínio é universotraducoes.com e o correspondente aplicativo móvel, assim como todos os sites relacionados ou vinculados a partir www.universotraducoes.com pela Universo Traduções, assim como, suas filiais e associadas. Ao usar o site, o Tradutor concorda com as presentes condições de uso, se não concordar, se abstenha de usá-lo.</span></p>
<p class="p2">
  <br>
</p>
<ol class="ol1">
  <li class="li3"><span class="s3">Definições</span><span class="s1">:</span></li>
</ol>
<p class="p4">
  <br>
</p>
<ol class="ol2">
  <li class="li3"><span class="s2"><strong>APP:&nbsp;</strong>Plataforma disponibilizada através de aplicativo web e móvel administrado e com os direitos exclusivos de utilização no Brasil pela Universo Traduções, através do qual: i) oferece serviços de traduções e revisões em diversos idiomas, ii) serve como meio de envio de comunicações entre os Tradutores e a Universo Traduções, iii) recebe os pagamentos dos serviços contratados pelo Cliente e repassa aos Tradutores; e, iv) gestão de prazos e entregas dos serviços contratados através do APP.</span></li>
  <li class="li3"><span class="s2"><strong>Cliente:</strong> Pessoa física ou jurídica, cadastrada no APP pela Universo Traduções que quer contratar os serviços oferecidos mediante contraprestação financeira.</span></li>
  <li class="li3"><span class="s2"><strong>Contrato de Serviço:</strong> É o acordo de vontade celebrado entre o Cliente e a Universo Traduções e a Universo Traduções e o Tradutor, onde o Cliente, através do APP, adquire um serviço e a Universo Traduções, através dos Tradutores, se obriga a executar, mediante remuneração como contraprestação.</span></li>
  <li class="li3"><span class="s2"><strong>Cookies:&nbsp;</strong>Arquivos enviados pelo servidor do site para o computador do Tradutor, com a finalidade de identificar o computador e obter dados de acesso, como páginas navegadas ou links clicados, permitindo, desta forma, personalizar a utilização do site, de acordo com o seu perfil. Também podem ser utilizados para garantir uma maior segurança dos Tradutores do APP.</span></li>
  <li class="li3"><span class="s2"><strong>Dados pessoais:&nbsp;</strong>É toda informação que permite identificar ou fazer identificável uma pessoa física.</span></li>
  <li class="li3"><span class="s2"><strong>Maior de idade:</strong> Pessoa física maior de dezoito (18) anos.</span></li>
  <li class="li3"><span class="s2"><strong>Meios de pagamentos:&nbsp;</strong>Serviço que permite a realização de pagamentos pelos Clientes diretamente à Universo Traduções, através de meios eletrônicos, utilizando plataformas tecnológicas (software), exemplificando como as máquinas de cartão.</span></li>
</ol>
<p class="p5"><span class="s1"><strong>Operadora do APP:</strong> Operadora do APP,&nbsp;</span><span class="s3"><strong>Universo Traduções LTDA</strong></span><span class="s1">&nbsp;com sede na Av Paulista 2028 andar 11 na cidade de São Paulo, no Estado de São Paulo, inscrita no CNPJ/MF sob o nº 29.426.605/0001-20, ou pessoa física ou jurídica que ela designar.</span></p>
<ol class="ol2">
  <li class="li3"><span class="s2"><strong>Pop-Ups:&nbsp;</strong>São janelas ou avisos da internet que emerge automaticamente em qualquer momento quando o APP é utilizado, especialmente utilizado para a formalização do Contrato de Serviço.</span></li>
  <li class="li3"><span class="s2"><strong>Publicidade:</strong> É toda forma de comunicação realizada pela Universo Traduções, com a finalidade de prestar informações sobre produtos, atividades comerciais e comunicar estratégias ou campanhas publicitárias ou de marketing, próprias ou de terceiros; realizada como mecanismo de referência e não como oferta pública.</span></li>
  <li class="li3"><span class="s2"><strong>Serviço(s):</strong> Serviços oferecidos através do APP.</span></li>
  <li class="li3"><span class="s2"><strong>Tradutor:&nbsp;</strong>Pessoa física ou jurídica, cadastrada no APP pela Universo Traduções que aceita prestar o serviço solicitado pelo Cliente através do APP, mediante contraprestação financeira.</span></li>
</ol>
<p class="p2">
  <br>
</p>
<ol class="ol1">
  <li class="li3"><span class="s3">Objeto:</span></li>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">Este Termo regula a relação contratual, de caráter comercial, que une o Tradutor que têm acesso ao APP e a Universo Traduções.</span></li>
  </ol>
</ol>
<p class="p2">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">A Universo Traduções é uma empresa de prestação de serviço que realiza as seguintes atividades: (i) oferece serviços de traduções e revisões em diversos idiomas para que possam ser contratados pelo Cliente e executados pelo Tradutor; (ii) permite o pagamento do serviço contratado através do APP; (iii) auxilia na comunicação entre Cliente e Tradutor; e (iv) faz a gestão de entregas dos serviços contratados através do APP.</span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <li class="li3"><span class="s3">Das Alterações:</span></li>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">A Universo Traduções poderá modificar automaticamente e em qualquer momento os aspetos formais, procedimentais ou substanciais deste Termo, que serão atualizados e colocados à disposição do Tradutor no APP, sendo a última versão publicada aquela que regulará as relações comerciais que sejam geradas no momento em que a transação for realizada. As alterações serão informadas ao Tradutor por um meio virtual que permita sua publicação e comunicação ao público.</span></li>
  </ol>
</ol>
<p class="p2">
  <br>
</p>
<ol class="ol1">
  <li class="li3"><span class="s3">Da Conta do Tradutor:</span></li>
</ol>
<p class="p2">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">Para utilizar o APP o&nbsp;</span><span class="s1">Tradutor</span><span class="s2">&nbsp;precisará fazer o registro na plataforma. O uso da conta é pessoal e intrasferível, sempre imprescindível o cadastro por pessoa física e/ou jurídica que cumpra os seguintes requisitos:</span></li>
  </ol>
</ol>
<ol class="ol2">
  <li class="li3"><span class="s2">Ter mais de 18 anos de idade, no caso de pessoa física.</span></li>
  <li class="li3"><span class="s2">Preencher com dados verdadeiros os campos obrigatórios do formulário de cadastro, onde são solicitados os dados pessoais, como o nome de&nbsp;</span><span class="s1">Tradutor</span><span class="s2">, o e-mail, o número de telefone, currículo e dados bancários, mantendo-os atualizados.</span></li>
  <li class="li3"><span class="s2">Concordar com o presente Termo, aceitar a política de privacidade e de cookies.</span></li>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <ol class="ol1">
      <li class="li3"><span class="s2">Caso o&nbsp;</span><span class="s1">Tradutor</span><span class="s2">&nbsp;forneça algum dado falso, inexato ou incompleto, ou caso a Universo Traduções considere que existam razões para duvidar da veracidade, exatidão e integridade dos dados, poderá lhe ser negado o acesso e o uso, atual ou futuro, do APP, ou de qualquer um dos seus conteúdos ou serviços.</span></li>
    </ol>
  </ol>
</ol>
<p class="p2">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <ol class="ol1">
      <li class="li3"><span class="s2">O&nbsp;</span><span class="s1">Tradutor</span><span class="s2">&nbsp;é o único responsável pelo uso de seus dados por terceiros, incluindo as manifestações expressadas no APP, ou qualquer outra ação realizada através do uso do nome do&nbsp;</span><span class="s1">Tradutor</span><span class="s2">&nbsp;e senha. A Universo Traduções não é a responsável pelo uso, por terceiros não registrados, da identidade de um&nbsp;</span><span class="s1">Tradutor</span><span class="s2">&nbsp;registrado.<span class="Apple-converted-space">&nbsp;</span></span></li>
    </ol>
  </ol>
</ol>
<p class="p2">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">No caso de esquecer os dados de validação ou usurpação deles, é obrigação do Tradutor informar sobre isto à Universo Traduções através da opção “esqueceu sua senha” ou através de uma comunicação pelo serviço do suporte disponível no APP. As contas de Tradutor serão administradas pela Universo Traduções ou pela pessoa que ela designar, tendo plena faculdade para a conservação ou não da conta, quando as informações fornecidas pelo Tradutor não sejam verazes, completas ou seguras; ou quando acontecer descumprimento das obrigações do Tradutor.</span></li>
  </ol>
</ol>
<p class="p2">
  <br>
</p>
<p class="p7"><span class="s3"><strong>Com a criação da Conta de Tradutor, o Tradutor está manifestando sua vontade de aceitação expressa e inequívoca deste Termo e Condições de uso do APP.</strong></span></p>
<p class="p2">
  <br>
</p>
<ol class="ol1">
  <li class="li3"><span class="s3">Da Solicitação e Entrega do Pedido:</span></li>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">A Universo Traduções exibe através do APP os serviços que estão à disposição do Tradutor, devendo ser utilizado o APP como meio para o Tradutor aceitar um serviço.<span class="Apple-converted-space">&nbsp;</span></span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">O Cliente, obrigatoriamente, deverá enviar o documento a ser traduzido e/ou revisado nos formatos disponíveis no APP, inserindo também materiais descrevendo o contexto da tradução e todos os outros materiais necessários (por exemplo, glossário). O Tradutor poderá, caso entenda necessário, solicitar mais informações ao Cliente, através de espaço próprio para tal fim disponível no APP.</span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s1">A Universo Traduções não pode garantir que um Tradutor específico assuma a tradução e/ou revisão de Contrato de serviço.</span></li>
  </ol>
</ol>
<p class="p2">
  <br>
</p>
<ol class="ol1">
  <li class="li3"><span class="s3">Da Aceitação do Serviço:</span></li>
</ol>
<p class="p2">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">O Tradutor não poderá cancelar o pedido após dar o aceite. Havendo cancelamento de Contratos de Serviço no período de dias, meses e/ou atraso na entrega do pedido poderá ensejar a exclusão do Tradutor do APP pela Universo Traduções, independente de notificação prévia, acrescida de multa no valor equivalente a 20% (vinte por cento) do total de pedidos cancelados e/ou entregues após a data limite de entrega prevista no APP.</span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s1">A Universo Traduções se reserva o direito de cancelar um pedido já aceito pelo Tradutor sem a necessidade de invocar uma justa causa ou quando por erros de ordem tecnológicas os preços dos produtos exibidos no APP se apresentem evidentemente desproporcionais com o preço do serviço no mercado. Nestes casos, o Tradutor não terá direito ao recebimento de qualquer valor, mesmo na hipótese de já ter iniciado a tradução e/ou revisão.</span></li>
  </ol>
</ol>
<p class="p2">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s1">A Universo Traduções informa ao Tradutor a estimativa de tempo para a conclusão do serviço ajustada com o Cliente. Na hipótese de haver necessidade de adiamento, o Tradutor deverá justificar à Universo Traduções os motivos. Quando o serviço estiver finalizado, o Tradutor comunicará através da plataforma o encerramento, inserindo o documento finalizado.</span></li>
  </ol>
</ol>
<p class="p2">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s1">O Cliente será notificado da finalização do serviço pela Universo Traduções e terá 24 (vinte e quatro) horas para analisar os documentos traduzidos e/ou revisados, devendo aprova-lo através da plataforma. Na hipótese do Cliente não tomar as medidas através da plataforma no prazo estipulado, o serviço será considerado aprovado, não sendo possível, a partir de então, qualquer alteração, revisão ou reembolso pelo serviço prestado.</span></li>
  </ol>
</ol>
<p class="p8">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">O Cliente poderá rejeitar o serviço no prazo estabelecido na cláusula 6.4. em caso de erros nas traduções e revisões. Será realizada uma auditoria de qualidade e confirmado o erro, o Tradutor deverá refazer o serviço, ajsutando o documento no prazo de 24 (vinte e quatro) horas a contar da comunicação da Universo Traduções.</span></li>
  </ol>
</ol>
<p class="p8">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">O Tradutor terá espaço no APP para se comunicar com o Cliente, devendo, obrigatoriamente, manter uma comunicação formal e respeitosa, evitando difamar e/ou prejudicar a imagem e o nome da Universo Traduções.</span></li>
  </ol>
</ol>
<p class="p8">
  <br>
</p>
<ol class="ol1">
  <li class="li3"><span class="s4">Dos Preços e Meios de Pagamento:</span></li>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">Quando encaminhado o documento para tradução e/ou revisão, será indicado o preço do serviço no APP. No valor expresso em moeda vigente já estão todos&nbsp;</span><span class="s1">custos e despesas, diretos e indiretos, necessários à completa e pontual execução</span><span class="s2">.</span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">O pagamento dos serviços será realizado ao Tradutor pela Universo Traduções através dos meios disponibilizados no APP e/ou transferências de recursos financeiros no dia 10 do mês subsequente a entrega pelo Tradutor dos trabalhos de tradução e/ou revisão efetivamente realizados desde que recebido pela Universo Traduções, com até 05 (cinco) dias de antecedência, documento fiscal e/ou RPA do Tradutor.</span></li>
  </ol>
</ol>
<p class="p9">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <ol class="ol1">
      <li class="li3"><span class="s1">O atraso na entrega do documento fiscal/RPA pelo Tradutor ensejará o adiamento do pagamento pela Universo Traduções no mesmo número de dias, sem qualquer acréscimo de multa, correção monetária e/ou juros.</span></li>
    </ol>
  </ol>
</ol>
<p class="p2">
  <br>
</p>
<ol class="ol1">
  <li class="li3"><span class="s4">Dos Deveres das Partes</span></li>
</ol>
<p class="p2">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s1">São deveres das partes:</span></li>
  </ol>
</ol>
<p class="p2">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <ol class="ol1">
      <li class="li3"><span class="s2">O Tradutor se obrigada a: (1) aceitar apenas os serviços de tradução e/ou revisão que tenha plena capacidade e conhecimento do idioma; (2) não transferir a terceiros <em>login&nbsp;</em>e senha de Tradutor; (3) executar a tradução e/ou a revisão utilizando as melhores técnicas e envidando esforços para entregar o documento sem qualquer erro ou vício; (4) não utilizar o APP para realizar atos contrários à moral, a lei, a ordem pública e os bons costumes contra a Universo Traduções, Clientes ou terceiros; (5) informar imediatamente à Universo Traduções em caso de esquecimento ou usurpação dos dados de validação (nome de Tradutor e senha); (6) não realizar condutas que atentarem contra do funcionamento do APP; (7) respeitar a identidade de outros Tradutores; (8) não decifrar, desestruturar ou desmontar qualquer elemento do APP ou de qualquer uma das suas partes; (9) habilitar a utilização de janelas emergentes (Pop-ups) durante a operação para o funcionamento adequado do APP; (10) adotar as condutas necessárias para a execução do serviço, entre elas: i) recebimento e envio dos documentos a ser traduzidos e/ou revisados no formato compatível ao indicado no APP, ii) verificar sua caixa postal para receber as comunicações da Universo Traduções, iii) analisar e aceitar ou rejeitar o serviço no prazo definido; e, iv) responder aos questionamentos dos Clientes, de forma cordial e respeitosa.<span class="Apple-converted-space">&nbsp;</span></span></li>
    </ol>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <ol class="ol1">
      <li class="li3"><span class="s2">A Universo Traduções se obriga a: (1) fornecer informações certas, fidedignas, suficientes, claras e atualizadas com respeito aos serviços prestados, podendo realizar a ajustes e revisões em caso de constatação de erro; (3) enviar e-mail quando há disponibilidade de documentos para tradução e/ou revisão; (4) efetuar o pagamento referente aos documentos traduzidos e/ou revisados, até o 10º (décimo) dia útil ao mês subsequente ao da entrega dos documentos finalizados pelo Tradutor (5) colocar à disposição do Tradutor os termos e condições de uso do APP de forma atualizada; (6) utilizar as informações unicamente para os fins estabelecidos neste Termo; (7) utilizar mecanismos de informações e validação durante a transação como as janelas emergentes (Pop Ups) que permitam ao Colaborar aceitar ou não cada passo do processo de Contrato de Serviço.</span></li>
    </ol>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">O Tradutor se compromete a si, seus sócios, prepostos, funcionários e terceiros, a manter a mais estrita confidencialidade e em estrito sigilo todo o teor dos documentos de Clientes que tiver acesso através do APP, bem como todas as informações repassadas pela Universo Traduções e/ou Clientes não podendo sob qualquer pretexto e forma, exceto para cumprimento à determinação judicial ou equivalente, divulgar, revelar, reproduzir utilizar ou deles dar conhecimento a terceiros durante o período de vigência e pelo período de 05 (cinco) anos após o seu término ou rescisão, sob pena de responder civil e criminalmente pelo ato.</span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">A Universo Traduções colocará à disposição no APP informações de caráter comercial e publicitário, próprias ou de terceiros, em conformidade com os bons costumes comerciais, entretanto não apoia, garante ou compromete sua responsabilidade perante os serviços e/ou produtos que sejam comercializados por terceiros, cabendo ao Tradutor acessar os sites de terceiros que remetem à publicidade, assumindo a obrigação de verificar e conhecer os termos dos serviços oferecidos.</span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <li class="li3"><span class="s4">Da Administração da Plataforma:</span></li>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">A Universo Traduções administra a plataforma diretamente ou por meio de terceiras pessoas. Em nenhum caso responderá por danos diretos ou indiretos sofridos pelo Tradutor pela utilização ou incapacidade de utilização do APP.</span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">O APP encontra-se disponível durante as 24 horas do dia para acesso, consulta e transações, salvo em casos fortuitos e de força maior que impeçam sua disponibilidade, sendo que nestes casos a Universo Traduções envidará os melhores esforços para manter a operação do APP. No caso de atendimento ao Tradutor, a disponibilidade do APP será em dias úteis, das 9 ás 18 horas.</span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <li class="li3"><span class="s4">Do Cancelamento e/ou Suspensão do&nbsp;</span><span class="s3">Tradutor</span></li>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">O Tradutor poderá cancelar sua conta no APP, entrando em contato por e-mail através de formulário próprio disponível ao Tradutor.</span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">A Universo Traduções se reserva no direito de cancelar, suspender, desativar, bloquear ou, encerrar unilateralmente o acesso do Tradutor ao APP, com rescisão unilateral do presente contrato, com ou sem aviso prévio, caso: (i) seja identificada qualquer violação as normas jurídicas (ii) suas ações violem às disposições deste Termo; (iii) se o Tradutor causar algum dano direto ou indireto à Universo Traduções, seus Clientes ou a terceiros; (iv) seja identificada, de forma direta ou indireta, a prática de atitudes fraudulentas através do uso do APP; (v) o Tradutor<span class="Apple-converted-space">&nbsp;&nbsp;</span>não cumpra, reiteradamente, os prazos de entrega acordados; (vi) em outros casos onde a Universo Traduções entenda necessário, por violação de normas jurídicas, incompatibilidade com a política da Universo Traduções, entre outras, a critério da Universo Traduções.</span></li>
  </ol>
</ol>
<p class="p10">
  <br>
</p>
<ol class="ol1">
  <li class="li3"><span class="s4">Das Informações Fornecidas</span></li>
</ol>
<p class="p10">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">As informações adquiridas pela Universo Traduções nas transações realizadas são fornecidas pelo Tradutor de forma livre e voluntária, para que sejam administradas pela Universo Traduções ou por quem ela designar para o cumprimento dos deveres adquiridos, significando seu levantamento; armazenamento em servidores ou repositórios da Universo Traduções ou de terceiros; circulação dos mesmos dentro da organização da Universo Traduções; comunicação ao Tradutor da informação comercial, publicitária e de marketing relacionada com sua atividade comercial.</span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">Os dados levantados poderão ser utilizados para o melhoramento do APP.</span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">O Tradutor poderá exercer seu direito de conhecer, atualizar, modificar e suprimir os dados pessoais existentes nas bases de dados associadas ao APP. Em caso de problemas ou dúvidas, o Tradutor pode entrar em contato a qualquer momento via o próprio APP, sendo este o canal de atendimento prioritário disponibilizado pela Universo Traduções.</span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">A Universo Traduções é responsável pelo tratamento das informações pessoais levantadas através do APP, responsabilidade que poderá ser delegada a um terceiro, na qualidade de responsável ou encarregado das informações, garantindo por meio de contrato um adequado tratamento das mesmas, tudo explicitado na Política de Privacidade.</span></li>
  </ol>
</ol>
<p class="p9">
  <br>
</p>
<ol class="ol1">
  <li class="li3"><span class="s4">Das Responsabilidades e seus Limites</span></li>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">O APP será disponibilizado no estado que se encontra, não sendo concedida nenhuma garantia de que haverá adequações para um propósito específico.</span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">A Universo Traduções não pode garantir que a disponibilidade do APP seja ininterrupta, seguros ou isentas de erros, apenas de realizar os melhores esforços para manter o APP em operação.</span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">O Tradutor declara conhecer os riscos do uso dos serviços ou do download do APP e reconhece que será o único responsável por quaisquer danos ao seu sistema de computador ou perda de dados resultantes de tais atividades. O Tradutor também reconhece e concorda que a Universo Traduções não tem controle sobre redes de terceiros que possam ser acessadas durante o uso do APP, portanto, atrasos e interrupções de outras transmissões de rede estão completamente fora do controle da Universo Traduções. Da mesma forma que não pode ser imputada a Universo Traduções quaisquer casos de atos fortuitos ou de força maior, que venham a causar danos a quaisquer das Partes.<span class="Apple-converted-space">&nbsp;</span></span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">A Universo Traduções também não será responsável por nenhum dano, obrigação ou prejuízo decorrente do (i) uso dos serviços ou incapacidade de acessar ou usar os serviços; ou (ii) qualquer operação ou relacionamento entre o Tradutor e qualquer prestador terceiro contratado pelo Tradutor através ou por associação à Universo Traduções.</span></li>
  </ol>
</ol>
<p class="p9">
  <br>
</p>
<ol class="ol1">
  <li class="li3"><span class="s4">Da Propriedade Intelectual:</span></li>
</ol>
<p class="p6">
  <br>
</p>
<p class="p3"><span class="s2">15.1. &nbsp; &nbsp;A Universo Traduções é a proprietária ou titular de todos os direitos de propriedade intelectual incluídos na plataforma, assim como sobre os conteúdos acessíveis através da mesma. Os direitos de propriedade intelectual do APP, assim como: textos, imagens, design gráfico, estrutura de navegação, informações e conteúdo nela incluídos são da propriedade da Universo Traduções, que tem o exercício exclusivo dos direitos de exploração dos mesmos de qualquer modo e, particularmente, os direitos de reprodução, distribuição, comunicação pública e transformação</span></p>
<p class="p6">
  <br>
</p>
<p class="p3"><span class="s2">15.2. &nbsp; &nbsp;A autorização dada ao&nbsp;</span><span class="s1">Tradutor&nbsp;</span><span class="s2">para o acesso ao APP não implica a renúncia, transmissão, licença ou transferência total ou parcial dos direitos de propriedade intelectual pela Universo Traduções. Não é permitido remover, dissimular ou manipular de qualquer modo os conteúdos do APP. Além disso é proibido modificar, copiar, reutilizar, explorar, reproduzir, comunicar publicamente, fazer segundas ou posteriores publicações, carregar arquivos, enviar por e-mail, transmitir, usar, processar ou distribuir de qualquer modo a totalidade ou parte dos conteúdos incluídos no APP para propósitos públicos ou comerciais, caso não disponha da autorização expressa, e por escrito, da Universo Traduções, ou no seu caso, do titular dos direitos ao qual corresponde.</span></p>
<p class="p6">
  <br>
</p>
<p class="p3"><span class="s2">15.3. &nbsp; &nbsp;O uso não autorizado dos materiais do APP pelo&nbsp;</span><span class="s1">Tradutor&nbsp;</span><span class="s2">pode violar direitos autorais, marcas registradas e outras leis aplicáveis e pode resultar em penalidades criminais ou civil.</span></p>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <li class="li3"><span class="s4">Da Independência das Cláusulas</span></li>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">Se qualquer uma das cláusulas das presentes condições for nula de pleno direito ou anulável, não será colocada. Esta declaração de nulidade não anulará o restante contrato, que será mantido válido e eficaz entre as partes.</span></li>
  </ol>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <li class="li3"><span class="s4">Da Legislação Aplicável e Foro</span></li>
</ol>
<p class="p6">
  <br>
</p>
<ol class="ol1">
  <ol class="ol1">
    <li class="li3"><span class="s2">Para dirimir quaisquer controvérsias oriundas do presente Termo, as partes elegem o Foro da comarca da cidade de São Paulo, estado de São Paulo, renunciando a qualquer outro por mais privilegiado que seja, sendo aplicáveis as Leis da República Federativa do Brasil.</span></li>
  </ol>
</ol>
<p class="p7"><span class="s1">&nbsp;</span></p>
<p class="p11"><span class="s1"><strong>ACEITAÇÃO TOTAL DOS TERMOS</strong></span></p>
<p class="p6">
  <br>
</p>
<p class="p7"><span class="s1">O Tradutor manifesta expressamente ter a capacidade legal para usar o APP e para celebrar as transações comerciais que possam ser geradas com a Universo Traduções.</span></p>
<p class="p6">
  <br>
</p>
<p class="p7"><span class="s1">Assim, manifesta ter fornecido informação real, verídica e fidedigna. Portanto, de&nbsp;</span><span class="s3"><strong>forma expressa e inequívoca</strong></span><span class="s1">&nbsp;declara ter lido, entendido e que aceita a totalidade das situações reguladas neste Termo, dando o seu CONSENTIMENTO, pelo que se compromete ao cumprimento total dos deveres, obrigações, ações e omissões aqui expressadas. Em caso de Tradutor de outros países utilizarem o APP, ficam completamente sujeitos ao disposto neste Termo. Declara ainda que teve a possibilidade de sanar quaisquer dúvidas em relação a este Termo pelo canal de Suporte ao Tradutor. Com esta aceitação entende-se que em cada transação para serviço se encontra a assinatura do Tradutor para gerar o Contrato de Serviços.</span></p>