{% extends "../../Templates/admin.html" %}
{% block body %}

<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Traduções</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0)">Admin</a>
                                </li>
                                <li class="breadcrumb-item active">Traduções</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex no-block align-items-center">
                                        <div>
                                            <h3><i class="ti-user"></i></h3>
                                            <p class="text-muted">TOTAL DE TRADUÇÕES</p>
                                        </div>
                                        <div class="ml-auto">
                                            <h2 class="counter text-primary">{{ all }}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="progress">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex no-block align-items-center">
                                        <div>
                                            <h3><i class="icon-note"></i></h3>
                                            <p class="text-muted">NEW PROJECTS</p>
                                        </div>
                                        <div class="ml-auto">
                                            <h2 class="counter text-cyan">169</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="progress">
                                        <div class="progress-bar bg-cyan" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex no-block align-items-center">
                                        <div>
                                            <h3><i class="icon-doc"></i></h3>
                                            <p class="text-muted">NEW INVOICES</p>
                                        </div>
                                        <div class="ml-auto">
                                            <h2 class="counter text-purple">157</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="progress">
                                        <div class="progress-bar bg-purple" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex no-block align-items-center">
                                        <div>
                                            <h3><i class="icon-bag"></i></h3>
                                            <p class="text-muted">All PROJECTS</p>
                                        </div>
                                        <div class="ml-auto">
                                            <h2 class="counter text-success">431</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if message %}
                <div class="alert alert-success"><i class="fa fa-check-circle"></i> Sucesso!</div>
                {% endif %}
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Traduçõs</h4>
                                <h6 class="card-subtitle">Todas as Traduções</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Usuario</th>
                                                <th>Tradutor</th>
                                                <th>Preço</th>
                                                <th>Tipo</th>
                                                <th>Status</th>
                                                <th>Data Solicitação</th>
                                                <th>Data Conclusão</th>
                                                <th>Visualização</th>
                                                <th>Avaliação</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>ID</th>
                                                <th>Usuario</th>
                                                <th>Tradutor</th>
                                                <th>Preço</th>
                                                <th>Tipo</th>
                                                <th>Status</th>
                                                <th>Data Solicitação</th>
                                                <th>Data Conclusão</th>
                                                <th>Visualização</th>
                                                <th>Avaliação</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                        {% for translation in translations %}
                                            <tr>
                                               <td>{{ translation.uid }}</td>
                                               <td>{{ translation.user.email }}</td>
                                               <td>{{ translation.tradutor.email }}</td>
                                               <td>R${{ translation.price }}</td>
                                               <td>{{translation.serviceconfig.tipo_de_servico}}</td>
                                               <td>{{ translation.status }}</td>
                                               <td>{{ translation.created_at }}</td>
                                               <td>{{ translation.completed_at }}</td>
                                               <td><a href="https://plataforma.universotraducoes.com/translations/show/{{translation.id}}">Visualizar</a></td>
                                               <td>
                                               {% if translation.avaliacao == true %}
                                               <p class="small">Qualidade: {% if translation.avaliacao_qualidade == 1 %}<i class="fa fa-thumbs-up" style="color: green"></i>{% elif translation.avaliacao_qualidade == 2 %}<i class="fa fa-thumbs-down" style="color: red"></i>{% else %} NA {% endif %}</p>
                                               <p class="small">Prazo: {% if translation.avaliacao_prazo == 1 %}<i class="fa fa-thumbs-up" style="color: green"></i>{% elif translation.avaliacao_prazo == 2 %}<i class="fa fa-thumbs-down" style="color: red"></i>{% else %} NA {% endif %}</p>
                                               <p class="small">Preço: {% if translation.avaliacao_preco == 1 %}<i class="fa fa-thumbs-up" style="color: green"></i>{% elif translation.avaliacao_preco == 2 %}<i class="fa fa-thumbs-down" style="color: red"></i>{% else %} NA {% endif %}</p>
                                               <p class="small">Flexibilidade: {% if translation.avaliacao_flexibilidade == 1 %}<i class="fa fa-thumbs-up" style="color: green"></i>{% elif translation.avaliacao_flexibilidade == 2 %}<i class="fa fa-thumbs-down" style="color: red"></i>{% else %} NA {% endif %}</p>
                                               <p class="small">Pagamento: {% if translation.avaliacao_pagamento == 1 %}<i class="fa fa-thumbs-up" style="color: green"></i>{% elif translation.avaliacao_pagamento == 2 %}<i class="fa fa-thumbs-down" style="color: red"></i>{% else %} NA {% endif %}</p>
                                               <p class="small">Usabilidade: {% if translation.avaliacao_usabilidade== 1 %}<i class="fa fa-thumbs-up" style="color: green"></i>{% elif translation.avaliacao_usabilidade == 2 %}<i class="fa fa-thumbs-down" style="color: red"></i>{% else %} NA {% endif %}</p>
                                               {% else %}
                                                Não avaliou ainda
                                               {% endif %}
                                               </td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    {% endblock %}
    {% block extrajs %} 
    <script src="/admin/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="/admin/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <!--This page plugins -->
    <script src="/admin/assets/node_modules/datatables/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js"></script>

    <!-- start - This is for export functionality only -->
    <!-- end - This is for export functionality only -->
    <script>
        $(function () {
            $('#myTable').DataTable({
              serviceconfig: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json'
              }
            });
            $(function () {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
    $('#example23').DataTable({
        columnDefs: [ {
            targets: [6],
            render: $.fn.dataTable.render.moment( 'DD/MM/YYYY', 'DD/MM/YYYY' )
        } ],
        order: [],
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json',
            decimal: ",",
            thousands: "."
        }
    });
    </script>
    {% endblock %}