{% extends "../../Templates/admin.html" %}
{% block body %}
<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Editar Usuário</h4>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post">
                                    <div class="form-body">
                                        <h3 class="card-title">Editar Usuário</h3>
                                        <hr>
                                        <div class="row p-t-20">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Nome</label>
                                                    <input type="text" name="name" value="{{eduser.name}}" class="form-control" placeholder="Use um nome para facilitar a identificação" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                              <div class="form-group">
                                                <label>Admin</label>
                                                <select name="is_admin" class="form-control">
                                                    <option value="true" {% if eduser.is_admin%} selected {% endif %}>Sim</option>
                                                    <option value="false" {% if eduser.is_admin == false %} selected {% endif %}>Não</option>
                                                </select>
                                              </div>
                                              <div class="form-group">
                                                <label>Tradutor</label>
                                                <select name="is_tradutor" class="form-control">
                                                    <option value="true" {% if eduser.is_tradutor%} selected {% endif %}>Sim</option>
                                                    <option value="false" {% if eduser.is_tradutor == false %} selected {% endif %}>Não</option>
                                                </select>
                                              </div>
                                              <div class="form-group">
                                                <label>Parceiro Premium</label>
                                                <select name="is_premium" class="form-control">
                                                    <option value="true" {% if eduser.is_premium %} selected {% endif %}>Sim</option>
                                                    <option value="false" {% if eduser.is_premium == false %} selected {% endif %}>Não</option>
                                                </select>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Email</label>
                                                    <input type="text" name="email" value="{{eduser.email}}" class="form-control" placeholder="Use um nome para facilitar a identificação" required>
                                                </div>
                                            </div>  
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Telefone</label>
                                                    <input type="text" name="phone" value="{{eduser.phone}}" class="form-control" required>
                                                </div>
                                            </div>  
                                            <!--/span-->
                                        </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Salvar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
{% endblock %}