{% extends "../../Templates/admin.html" %}
{% block body %}
<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Editar Usuário</h4>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post">
                                    <div class="form-body">
                                        <h3 class="card-title">Criar Usuário</h3>
                                        <hr>
                                        <div class="row p-t-20">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Nome</label>
                                                    <input type="text" name="name" value="{{eduser.name}}" class="form-control" placeholder="" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Telefone</label>
                                                    <input type="text" name="phone" value="{{eduser.phone}}" class="form-control" required>
                                                </div>
                                                <div class="form-group ">
                                                    <div class="col-xs-12">
                                                        <label>Selecione as linguas que trabalha:</label>
                                                        <select class="js-example-basic-multiple form-control" name="languages" multiple="multiple">
                                                            {% for language in languages %}
                                                            <option value="{{language._id}}">{{ language.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                              <div class="form-group">
                                                <label>Admin</label>
                                                <select name="is_admin" class="form-control">
                                                    <option value="true">Sim</option>
                                                    <option value="false" selected>Não</option>
                                                </select>
                                              </div>
                                              <div class="form-group">
                                                <label>Tradutor</label>
                                                <select name="is_tradutor" class="form-control">
                                                    <option value="true" selected>Sim</option>
                                                    <option value="false" >Não</option>
                                                </select>
                                              </div>
                                              <div class="form-group">
                                                <label>Parceiro Premium</label>
                                                <select name="is_premium" class="form-control">
                                                    <option value="true">Sim</option>
                                                    <option value="false" selected>Não</option>
                                                </select>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Email</label>
                                                    <input type="email" name="email" value="{{eduser.email}}" class="form-control" placeholder="" required>
                                                </div>
                                            </div>  
                                            <!--/span-->
                                             
                                            <!--/span-->
                                        </div>
                                    <h3>Dados Bancários</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Nome ou Razão Social</label>
                                                <input type="text" name="nome_completo" class="form-control" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-6">Banco:</label>
                                                <div class="col-md-6">
                                                    <select name="banco" class="form-control form-control-line">
                                                        <option value="341">ITAÚ</option>
                                                        <option value="237">BRADESCO</option>
                                                        <option value="033">SANTANDER</option>
                                                        <option value="104">CAIXA</option>
                                                        <option value="001">BANCO DO BRASIL</option>
                                                        <option value="212">ORIGINAL</option>
                                                        <option value="121">AGIPLAN</option>
                                                        <option value="041">BANRISUL</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">CPF/CNPJ</label>
                                                <input type="text" name="cpf_cnpj" class="form-control" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Agencia</label>
                                                <input type="text" name="agencia" class="form-control" placeholder="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Conta</label>
                                                <input type="text" name="conta" class="form-control" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Conta Digito</label>
                                                <input type="text" name="conta_dg" class="form-control" placeholder="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Salvar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
{% endblock %}