{% extends "../Templates/template.html" %}
{% block body %}
<div class="row">
    <div class="col-12">
                {% if flash and flash !== 'payment:authorized' %}
                <div class="alert alert-warning"><i class="fa fa-times"></i> {{flash}}</div>
                {% endif %}
        <div class="card">
            <div class="card-body">
                {% if current_user.is_tradutor %}
                <h4 class="card-title">Trabalhos</h4>
                <h6 class="card-subtitle">Meus trabalhos</h6>
                {% else %}
                <h4 class="card-title">Projetos</h4>
                <h6 class="card-subtitle">Aqui você pode visualizar todos seus projetos</h6>
                {% endif %}
                <div class="table-responsive m-t-40">
                    <table id="example23" class="display table table-hover table-striped table-bordered index-table" cellspacing="0" width="100%">
                        <thead>
                            <tr class="centerTable">
                                <th style="min-width: 65px;">ID</th>
                                <th>Item</th>
                                <th>Data da solicitação</th>
                                <th>Idioma</th>
                                <th>Valor</th>
                                {% if current_user.is_tradutor %}
                                <th>Nº de palavras</th>
                                <th>Tipo de Documento</th>
                                {% endif %}
                                <th>Prazo de Entrega</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="centerTable">
                                <th style="min-width: 65px;">ID</th>
                                <th>Item</th>
                                <th>Data da solicitação</th>
                                <th>Idioma</th>
                                <th>Valor</th>
                                {% if current_user.is_tradutor %}
                                <th>Número de palavras</th>
                                <th>Tipo de Documento</th>
                                {% endif %}
                                <th>Prazo de Entrega</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </tfoot>
                       <tbody>
                        {% for translation in translations %}
                          <tr style="cursor: pointer;" class="row-click centerTable" data-href="/translations/show/{{ translation.id }}">
                            <td>{{translation.uid}}</td>
                            {% if translation.text != nil %}
                            <td>Texto</td>
                            {% elif translation.status != 'Aguardando Tradutor' and current_user.is_tradutor %}
                            <td>
                                {% for file in translation.files %}
                                <p><a href="/{{file}}">{{file | replace(r/.+?(?=-)/, "") | truncate(20)}}</a> </p>
                                {% endfor %}
                            </td>
                            {% else %}
                            <td> Arquivo </td>
                            {% endif %}
                            <td>{{translation.created_at }}</td>
                            <td style="min-width: 100px;">{{ translation.serviceconfig.lang_origem[0].abbreviation }} > {{ translation.serviceconfig.lang_dest[0].abbreviation }}</td>
                            {% if current_user.is_tradutor %}
                            <td>{{translation.price}}</td>
                            <td>{{translation.words}}</td>
                            <td>{{translation.tipo_de_documento}}</td>
                            {% else %}
                            <td>R${{translation.price}}</td>
                            {% endif %}
                            <td>{{ translation.deadline }}</td>
                            {% if translation.status == 'Aguardando Tradutor' %}
                            <td><span class="label label-primary">Aguardando Tradutor</span></td>
                            {% elif translation.status == 'Em Progresso' %}
                            <td><span class="label label-warning">Em Progresso</span></td>
                            {% elif translation.status == 'Revisão' %}
                            <td><span class="label label-warning">Revisão</span>                            {% if current_user.is_tradutor %}
                            <p class="small">Solicitação de revisão da sua tradução. Clique em "Ver detalhes" para ver os detalhes do cliente</p>
                            {% endif %}</td>
                            {% elif translation.status == 'Aguardando Aprovação' %}
                            <td><span class="label label-warning">Aguardando Aprovação</span></td>
                            {% elif translation.status == 'Aguardando Pagamento' %}
                            <td><span class="label label-warning">Aguardando Pagamento</span></td>
                            {% else %}
                            <td><span class="label label-success">Concluído</span></td>
                            {% endif %}
                            <td style="min-width: 250px;">
                            {% if translation.status == "Aguardando Aprovação" and translation.revisao %}
                              <a href="/translations/show/{{ translation.id }}" class="btn btn-outline-primary btn-sm">
                                  Ver revisão
                              </a>
                              {% else %}
                              <a href="/translations/show/{{ translation.id }}" class="btn btn-outline-primary btn-sm">
                                  Ver detalhes
                              </a>
                              {% endif %}
                              {% if translation.status == 'Aguardando Pagamento' and current_user.is_tradutor == false %}
                                {% if translation.transaction.payment_method == 'boleto' %}
                                <a href="{{ translation.boleto_url }}" target="_blank" class="btn btn-outline-warning btn-sm ">
                                  Imprimir boleto
                                </a>
                                {% else %}
                                <a href="/translations/pay?id={{ translation.id }}"  class="btn btn-outline-warning btn-sm ">
                                  Efetuar Pagamento
                                </a>
                                {% endif %}
                              {% endif %}
                              {% if translation.status == 'Concluído' and current_user.is_tradutor == false and translation.avaliacao == false %}
                                <a href="/translations/show/{{ translation.id }}" data-toggle="modal" data-translation="{{ translation._id }}" data-target="#exampleModal" class="btn btn-outline-warning btn-sm avaliacao">
                                  <i class="fa fa-star"></i> Avaliar
                                </a>
                              {% endif %}
                              {% if translation.status == 'Aguardando Tradutor' %}
                                {% if current_user.is_tradutor %}
                                    <a href="/translations/accept/{{translation._id}}" class="btn btn-outline-success btn-sm ">
                                    Aceitar Trabalho
                                    </a>
                                {% else %}
                                  <a href="/translations/cancelar/{{translation._id}}" class="btn btn-outline-danger btn-sm ">
                                    Cancelar Trabalho
                                  </a>
                                {% endif %}
                              {% endif %}
                              {% if translation.status == 'Aguardando Aprovação' %}
                                {% if current_user.is_tradutor == false %}
                                <p style="margin-top: 10px;">
                                    <a href="#" data-id="{{translation._id}}" data-translation="{{ translation._id }}" class="btn btn-success btn-sm aceitar">
                                        Aceitar Tradução
                                    </a>
                                    <a href="translations/revisao/{{translation._id}}" data-id="{{translatuion._id}}" href="#" id="recusar" class="btn btn-danger btn-sm">
                                        Solicitar Revisão
                                    </a>
                                </p>
                                {% endif %}
                              {% endif %}
                            </td>
                        
                          </tr>
                        {% else %}
                          <tr style="cursor: pointer;" class="row-click">
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% verbatim %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center">
        <h4>Sobre o tradutor:</h4>
        <div class="row">
            <label class="control-label text-right col-md-6">Qualidade:</label>
            <div class="col-md-6 text-left">
                <a href="#" v-bind:class="{ btnSuccess: qualidade == 1}" @click="setQualidade(1)" data-target="#exampleModal" class="btn btn-outline-success btn-sm">
                    <i class="fa fa-thumbs-up"></i> 
                </a>
                <a href="#" v-bind:class="{ btnDanger: qualidade == 2 }" @click="setQualidade(2)" data-target="#exampleModal" class="btn btn-outline-danger btn-sm">
                    <i class="fa fa-thumbs-down"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <label class="control-label text-right col-md-6">Prazo:</label>
            <div class="col-md-6 text-left">
                <a href="#" v-bind:class="{ btnSuccess: prazo == 1}" @click="setPrazo(1)" data-target="#exampleModal" class="btn btn-outline-success btn-sm">
                    <i class="fa fa-thumbs-up"></i> 
                </a>
                <a href="#" v-bind:class="{ btnDanger: prazo == 2 }" @click="setPrazo(2)" data-target="#exampleModal" class="btn btn-outline-danger btn-sm">
                    <i class="fa fa-thumbs-down"></i>
                </a>
            </div>
        </div>
        <br />
        <h4>Sobre a nossa plataforma:</h4>
        <div class="row">
            <label class="control-label text-right col-md-6">Usabilidade:</label>
            <div class="col-md-6 text-left">
                <a href="#" v-bind:class="{ btnSuccess: usabilidade == 1}" @click="setUsabilidade(1)" data-target="#exampleModal" class="btn btn-outline-success btn-sm">
                    <i class="fa fa-thumbs-up"></i> 
                </a>
                <a href="#" v-bind:class="{ btnDanger: usabilidade == 2 }" @click="setUsabilidade(2)" data-target="#exampleModal" class="btn btn-outline-danger btn-sm">
                    <i class="fa fa-thumbs-down"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <label class="control-label text-right col-md-6">Flexibilidade:</label>
            <div class="col-md-6 text-left">
                <a href="#" v-bind:class="{ btnSuccess: flexibilidade == 1}" @click="setFlexibilidade(1)" data-target="#exampleModal" class="btn btn-outline-success btn-sm">
                    <i class="fa fa-thumbs-up"></i> 
                </a>
                <a href="#" v-bind:class="{ btnDanger: flexibilidade == 2 }" @click="setFlexibilidade(2)" data-target="#exampleModal" class="btn btn-outline-danger btn-sm">
                    <i class="fa fa-thumbs-down"></i>
                </a>
            </div>
        </div>
        <br />
        <h4>Sobre o pagamento:</h4>
        <div class="row">
            <label class="control-label text-right col-md-6">Preço:</label>
            <div class="col-md-6 text-left">
                <a href="#" v-bind:class="{ btnSuccess: preco == 1}" @click="setPreco(1)" data-target="#exampleModal" class="btn btn-outline-success btn-sm">
                    <i class="fa fa-thumbs-up"></i> 
                </a>
                <a href="#" v-bind:class="{ btnDanger: preco == 2 }" @click="setPreco(2)" data-target="#exampleModal" class="btn btn-outline-danger btn-sm">
                    <i class="fa fa-thumbs-down"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <label class="control-label text-right col-md-6">Forma de Pagamento:</label>
            <div class="col-md-6 text-left">
                <a href="#" v-bind:class="{ btnSuccess: formaDePagamento == 1}" @click="setFormaDePagamento(1)" data-target="#exampleModal" class="btn btn-outline-success btn-sm">
                    <i class="fa fa-thumbs-up"></i> 
                </a>
                <a href="#" v-bind:class="{ btnDanger: formaDePagamento == 2 }" @click="setFormaDePagamento(2)" data-target="#exampleModal" class="btn btn-outline-danger btn-sm">
                    <i class="fa fa-thumbs-down"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <label class="control-label text-right col-md-12">Algum observação para o tradutor ou a plataforma?</label>
            <div class="col-md-12 text-left">
              <textarea name="avaliacao_obs" rows="4" cols="60">
              </textarea>
            </div>
        </div>
      </div>
      <input type="hidden" id="modalid" ref="myid" value="">
      <div class="modal-footer">
        <button type="button" @click="close" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" @click="submit" class="btn btn-primary" style="background-color: #81468f; border: 0;">Enviar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center">
        <h4>Obrigado por nos avaliar!</h4>
    </div>
  </div>
</div>
{% endverbatim %}

</script>
<script>
var app = new Vue({
  el: '#exampleModal',
  data: {
    qualidade: 0,
    prazo: 0,
    usabilidade: 0,
    flexibilidade: 0,
    preco: 0,
    formaDePagamento: 0
  },
  methods: {
    setQualidade: function (value) {
    
      this.qualidade = value
    },
    setPrazo: function (value) {
        console.log(value)
      this.prazo = value
    },
    setUsabilidade: function (value) {
        console.log(value)
      this.usabilidade = value
    },
    setFlexibilidade: function (value) {
        console.log(value)
      this.flexibilidade = value
    },
    setPreco: function (value) {
        console.log(value)
      this.preco = value
    },
    setFormaDePagamento: function (value) {
        console.log(value)
      this.formaDePagamento = value
    },
    
    submit: function() {
        let id = document.getElementById('modalid').value
        $('#exampleModal').modal('hide')
        axios.post('/translations/avaliar', {
          id,
          qualidade: this.qualidade,
          prazo: this.prazo,
          usabilidade: this.usabilidade,
          flexibilidade: this.flexibilidade,
          preco: this.preco,
          pagamento: this.pagamento
          })
        .then(res => {
        Swal({
        html: '<div style="vertical-align: middle;"><span style="vertical-align: middle">Obrigado por nos avaliar!</span></div>',
        timer: 2000,
        background: '#81468f',
        customClass: 'loading-container',
        allowEscapeKey: false,
        allowEnterKey: false,
        allowOutsideClick: false,
        showConfirmButton: false
        })
        setTimeout(function(){ location.reload() }, 2500);
        })
    },
    close: function() {
        location.reload();
    }
  }
})
</script>
{% if flash and flash == 'payment:authorized' %}
<script>
 Swal({
        html: '<div><i class="fas fa-check"></i> <span style="line-height: 50px">Pagamento efetuado com sucesso!</span></div>',
        timer: 3000,
        background: '#81468f',
        customClass: 'loading-container',
        allowEscapeKey: false,
        allowEnterKey: false,
        allowOutsideClick: false,
        showConfirmButton: false
        })
</script>
{% endif %}

{% endblock %}
{% block extrajs %}
{% if current_user.is_tradutor %}
<script>
    $('#example23').DataTable({
        columnDefs: [ {
            targets: [2,7],
            render: $.fn.dataTable.render.moment( 'DD/MM/YYYY', 'DD/MM/YYYY' )
        } ],
        order: [],
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json',
            decimal: ",",
            thousands: "."
        }
    });
</script>
{% else %}
<script>
    $('#example23').DataTable({
        columnDefs: [ {
            targets: [2,5],
            render: $.fn.dataTable.render.moment( 'DD/MM/YYYY', 'DD/MM/YYYY' )
        } ],
        order: [],
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json',
            decimal: ",",
            thousands: "."
        }
    });
</script>
{% endif%}
<script>
 $(document).ready(function() {
     $('.aceitar').click(function() {
         var oi = $(this).attr('data-id')
         var id = $(this).attr('data-translation')
         $('#modalid').val(id)
         axios.get('/translations/concluir/' + oi).then(response => {
             console.log(response.data)
             $('#exampleModal').modal('show')
         })
     })
     $('#recusar').click(function() {
         console.log($(this).attr('data-id').val())
     })
    $('.avaliacao').click(function() {
        var id = $(this).attr('data-translation')
        console.log(id)
        $('#modalid').val(id)
    })
   $('.translated_text').click(function() {
       var texto = $(this).attr('text-data')
       swal({
        type: 'info',
        showConfirmButton: true,
        title: 'Texto Traduzido',
        html: "<textarea style='width: 100%; height: 200px; margin-bottom: 20px;' name='texto' disabled>" + texto +"</textarea>",
        })
   })
 })
</script>
{% endblock %}
