{% extends "../Templates/template.html" %}
{% block body %}
{% verbatim %}
<div class="row" id="app" style="margin-top: 50px;">
    <div class="col-6 col-md-8">
    <div class="card">
    <div class="card-body">
        <div class="form-translation">
            <h3>O que você gostaria de traduzir?</h3>
            <hr>
            <form id="new_translation" action="/translations" method="post" class="simple_form new_translation">

            <div class="form-inputs">
            <div class="form-group string optional translation_title">
                <label for="translation_title" class="form-control-label string optional">Título</label>
                <input placeholder="Dê um título a sua tradução" type="text" name="title" id="translation_title" class="form-control string optional">
            </div>
                <div class="form-group select optional translation_quality">
                    <label for="translation_quality" class="form-control-label select optional">Qualidade</label>
                    <select @change="price" v-model="qualidade" name="quality" id="translation_quality" class="form-control select optional" required>
                        <option value="" disabled>Escolha...</option>
                        <option value="Normal">Normal</option>
                        <option value="Premium">Premium</option>
                    </select>
                </div>
                <div class="form-group select optional translation_quality">
                    <label for="translation_quality" class="form-control-label select optional">Tipo de Servico</label>
                    <select @change="price" v-model="tipoServico" name="tipo_de_servico" id="translation_quality" class="form-control select optional" required>
                        <option value="" disabled>Escolha...</option>
                        <option value="Revisao">Revisão</option>
                        <option value="Traducao">Tradução</option>
                    </select>
                </div>
                
               <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="inputState">Lingua Origem</label>
                    <select @change="price" v-model="lang1" class="form-control">
                        <option selected disabled>Escolha...</option>
                        <option v-for="option in options" v-bind:value="option._id">
                            {{ option.name }}
                        </option>
                    </select>
                    </div>

                     <div class="form-group col-md-6">
                    <label for="inputState">Lingua Destino</label>
                    <select v-model="lang2" @change="price" id="inputState" class="form-control">
                        <option selected disabled>Escolha...</option>
                        <option v-for="option in options" v-bind:value="option._id">
                            {{ option.name }}
                        </option>
                    </select>
                    </div>
                </div>
                
                <input type="hidden" v-model="hiddenFile" name="translation[hiddenFile]">
                <input type="hidden" name="price" v-bind:value="total">
                <input type="hidden" name="words" v-bind:value="words">
                <input type="hidden" name="deadline" v-bind:value="deadline2">
                <input type="hidden" name="serviceconfig" v-bind:value="serviceconfig">

                <div class="form-group text optional translation_text">
                    <label for="translation_text" class="form-control-label text optional">Text</label>
                    <textarea name="text" ref="texto" @keyup="countwords" v-model="text" id="translation_text" class="form-control text optional"></textarea>
                </div>
                <div class="form-group text optional translation_resumo">
                    <label for="translation_resumo" class="form-control-label text optional">Observações</label>
                    <textarea name="resumo" id="translation_resumo" placeholder="Escreva alguma observação em relação ao seu pedido" class="form-control text optional"></textarea>
                </div>
                <div class="form-group file optional translation_document">
                    <label for="translation_document" class="file optional">Arquivo</label>
                    <input type="file" id="file" ref="file"  @change="handleFile" name="translation[document]" id="translation_document" class="form-control-file file optional">
                </div>                
            </div>

            <div class="form-actions">
                <input type="submit" value="Solicitar" data-disable-with="Create Translation" class="btn btn-success">
            </div>
            </form>
        </div>
    </div>
    </div>
    </div>

    <div class="col-6 col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="resume-translation">
                    <h3>Resumo do pedido</h3>
                    <hr class="style-two">
                        <div class="row resume-list">
                            <div class="col-md-6">Moeda:</div><div class="col-md-6" style="text-align: right;">R$</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-8">Nivel de Qualidade:</div><div class="col-md-4" style="text-align: right;">{{qualidade}}</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-8">Numero de Palavras:</div><div class="col-md-4" style="text-align: right;">{{words}}</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-8">Preço por Palavra:</div><div class="col-md-4" style="text-align: right;">{{preco}}</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-6">Idiomas:</div><div class="col-md-6" style="text-align: right;">{{lang1Show}} > {{lang2Show}}</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-6">Prazo:</div><div class="col-md-6" style="text-align: right;">{{deadline}}</div>
                        </div>
                        <hr class="style-two">
                        <div class="row resume-list">
                            <div class="col-md-6"><strong>Total:</strong></div><div class="col-md-6" style="text-align: right;"><strong>R${{total}}</strong></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var app = new Vue({
  el: '#app',
  data: {
    text: '',
    selected: '',
    file: '',
    options: [],
    lang1: '',
    lang2: '',
    total: '',
    words: '',
    hiddenFile: '',
    preco: '',
    prazoAdicional: '',
    deadline: '',
    qualidade: '',
    lang1Show: '',
    lang2Show: '',
    deadline2: '',
    tipoServico: '',
    prazo1: '',
    prazo2: '',
    prazo3: '',
    limite_palavras1: '',
    limite_palavras2: '',
    limite_palavras3: '',
    serviceconfig: ''
  },
  beforeCreate: function() {
      axios.get('/languages/json')
        .then((response) => {
            this.options = response.data
        })
  },
  watch: { 
      words: function() {
          if(this.words <= this.limite_palavras1 && this.limite_palavras1 != '') {
            this.deadline = moment().add(this.prazo1, 'days').format('DD/MM/YYYY')
            this.deadline2 = moment().add(this.prazo1, 'days').format()
          } else if(this.words <= this.limite_palavras2 && this.limite_palavras2 != '') {
            this.deadline = moment().add(this.prazo2, 'days').format('DD/MM/YYYY')
            this.deadline2 = moment().add(this.prazo2, 'days').format()
          } else if(this.words <= this.limite_palavras3) {
            this.deadline = moment().add(this.prazo3, 'days').format('DD/MM/YYYY')
            this.deadline2 = moment().add(this.prazo3, 'days').format()
          } else {
              var addPrazoValue = (this.words / 1500)
              if(addPrazoValue > 2) {
                var fomatedPrazo = (parseInt(this.prazoAdicional) * Math.floor(addPrazoValue))
                this.deadline = moment().add(fomatedPrazo, 'days').format('DD/MM/YYYY')
                this.deadline2 = moment().add(fomatedPrazo + Math.floor(addPrazoValue), 'days').format()
              } else {
                this.deadline = moment().add(this.prazo3, 'days').format('DD/MM/YYYY')
                this.deadline2 = moment().add(this.prazo3, 'days').format()
              }
          }
          console.log(this.words * this.preco)
          this.total = (this.words * this.preco).toLocaleString('de-DE')
      },
      preco: function() {
          this.total = (this.words * this.preco).toLocaleString('de-DE')
      }
  },
  methods: {
    countwords: function() {
        if(this.text.length == 0) {
            return 0
        } else {
            this.words = this.text.split(' ').length
            console.log(this.words)
            return this.text.split(' ').length
        }
    },
    handleFile: function() {
        this.file = this.$refs.file.files[0];
          let formData = new FormData();
          formData.append('document', this.file);
       axios.post( '/documents',
        formData,
        {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        }
        ).then( response => {
            if(response.data.success == false) {              
                swal({
                type: 'error',
                title: 'Arquivo inválido!',
                html: 'O tipo do arquivo deve ser <b>pdf</b>, <b>doc</b> ou <b>docx</b>',
                })
                this.$refs.file.value = ''
                this.$refs.texto.disabled = false
            } else{
                this.hiddenFile = response.data.data.id
                this.words = response.data.words
                this.text = ''
                this.$refs.texto.disabled = true
            }
        })
        .catch(function(){
        console.log('FAILURE!!');
        });
    },
    price: function() {
        axios.get('/languages/'+ this.lang1)
        .then(response => {
            this.lang1Show = response.data.abbreviation
        })
        axios.get('/languages/'+ this.lang2)
        .then(response => {
            this.lang2Show = response.data.abbreviation
        })
        axios.post('/translations/serviceconfig/find', {
            lang_origem: this.lang1,
            lang_dest: this.lang2,
            qualidade: this.qualidade,
            tipo_de_servico: this.tipoServico
        })
        .then(response => {
            if(this.lang1 != '' && this.lang2 != '' && this.qualidade != '' && this.tipoServico != '' && response.data == null) {
                swal({
                type: 'error',
                title: 'Opção Inexistente',
                html: 'Ainda não temos serviço disponível para essas linguas.',
                })
                this.lang1 = ''
                this.lang2 = ''
                this.tipoServico = ''
                this.qualidade = ''
            } 
            console.log(response)
            this.prazo1 = response.data.prazo1
            this.prazo2 = response.data.prazo2
            this.prazo3 = response.data.prazo3
            this.prazoAdicional = response.data.prazo
            this.limite_palavras1 = response.data.limite_palavras1
            this.limite_palavras2 = response.data.limite_palavras2
            this.limite_palavras3 = response.data.limite_palavras3
            this.preco = response.data.price
            this.serviceconfig = response.data._id
            this.deadline = moment().add(this.prazo, 'days').format('DD/MM/YYYY')
            this.deadline2 = moment().add(this.prazo, 'days').format()
            console.log(this.preco)
            console.log(this.limite_palavras3)
        })
        .catch(function (error) {
            console.log(error);
        });
      }
  }
})
</script>
{% endverbatim %}
{% endblock %}