{% extends "../Templates/template.html" %}
{% block body %}
{% verbatim %}
<div class="row" id="app" style="margin-top: 50px;">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body card-video-desk">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-5">
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/1sivmn8Qllk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-7">
                        <h3>Dúvidas sobre a nossa plataforma?</h3>
                        <p>Veja vídeo do passo a passo ou <a target="_blank" href="/ebook-ut.pdf">Baixe o e-book</a> e conheça mais a nossa plataforma.</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="card">
    <div class="card-body">
        <div class="form-translation">
            <h3>O que você gostaria de traduzir?</h3>
            <hr>
            <form ref="form" id="new_translation" action="/translations" method="post" class="simple_form new_translation" enctype="multipart/form-data">
            <div style="text-align: center; margin: auto, cursor: pointer;">
                <div v-if="hiddenFile2.length < 12 "class="">
                    <button ref="arquivoB" class="btn btn-success" style="width: 30%"><i class="fa fa-cloud-upload-alt" style="font-size: 2em; cursor: pointer;"></i></button>
                    <input input type="file" accept=".doc,.docx,.pdf, .xls, .xlsx, .pptx" id="file" ref="file"  @change="handleFile2"  id="translation_document" style="font-size: 100px; position: absolute; left: 0; top: 0; opacity: 0;" multiple>
                </div>
                <p v-else class="text-warning">Número maximo de 12 arquivos atingido</p>
                <p> Arquivos suportados: <strong>.doc, .docx, .pdf, .xlsx, .pptx</strong></p>
                <p class="small" v-if="hiddenFile2.length < 1" style="margin-top: 10px; color: #c0c0c0">Anexe o(s) arquivo(s) ou digite / cole o texto abaixo</p>
                <p v-if="fileLoading" style="margin-top: 10px; color: #c0c0c0">Carregando seu arquivo, aguarde alguns instantes por favor...</p>
            </div>
            <div class="form-group row">
                <label v-if="hiddenFile2.length > 0" class="control-label text-label2 col-md-3" style="font-size: 16px; font-weight: 500;">Arquivos:</label>
                <div class="col-md-9">
                    <div style="background-color: #eee; padding: 10px; border-radius: 10px;" v-for="(file, index) in hiddenFile2">{{file.file}} - {{file.words}} palavras
                        <span class="float-right" @click="removeFile(file, index);" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                        <h6 style="color: red" v-if="file.valid == false">Arquivo inválido ou não é possível ler seu conteúdo</h6>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label text-label2 col-md-3" style="font-size: 16px; font-weight: 500;">Texto:</label>
                <div class="col-md-9">
                    <textarea name="text" rows="4" ref="texto" @keyup="countwords" v-model="text" id="translation_text" class="form-control text optional"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label text-label2 col-md-3" style="font-size: 16px; font-weight: 500;">Idioma original:</label>
                <div class="col-md-9">
                    <select @change="price(); matchlanguages();" v-model="lang1" id="langid1" class="form-control custom-select">
                        <option v-for="option in options" v-bind:value="option._id" :id="option.iso">
                            {{ option.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label text-label2 col-md-3" style="font-size: 16px; font-weight: 500;">Idioma destino:</label>
                <div class="col-md-9">
                    <select v-model="lang2" @change="price" id="langid2" class="form-control custom-select">
                        <option v-for="option in options2" v-bind:value="option._id">
                            {{ option.name }}
                        </option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <label class="control-label text-label2 col-md-3" style="font-size: 16px; font-weight: 500;">Tipo de serviço:</label>
                <div class="col-md-9">
                    <div class="row" style=" margin-left: 1px;">
                        <div class="col-md-3 button-radio" @click="changeTipoServico('Traducao'); price();" style="'">
                            <span>Tradução</span>
                        </div>
                        <div class="col-md-3 button-radio" @click="changeTipoServico('Revisao'); price();" style="'">
                            <span>Revisão</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label text-label2 col-md-3" style="font-size: 16px; font-weight: 500;">Tipo de documento:</label>
                <div class="col-md-9">
                    <div class="row" style="margin-bottom: 15px">
                        <div class="col-md-3">
                            <div class="button-radio2" data-value="Artigo Científico">
                                <i style="font-size: 2em" class="fa fa-graduation-cap"></i>
                                <p>Artigos Científicos</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="button-radio2" data-value="Documentos Pessoais">
                                <i style="font-size: 2em" class="fa fa-user-md"></i>
                                <p>Documentos Pessoais</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="button-radio2" data-value="Documentos de Marketing">
                                <i style="font-size: 2em" class="fa fa-globe"></i>
                                <p>Documentos de Marketing</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="button-radio2" data-value="Documentos Jurídicos">
                                <i style="font-size: 2em" class="fa fa-gavel"></i>
                                <p>Documentos Jurídicos</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="button-radio2">
                                <i style="font-size: 2em" class="fa fa-book"></i>
                                <p>Manuais</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="button-radio2" data-value="Propostas Comerciais">
                                <i style="font-size: 2em" class="fa fa-briefcase"></i>
                                <p>Propostas Comerciais</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="button-radio2" data-value="Legenda de Vídeos">
                                <i style="font-size: 2em" class="fa fa-video"></i>
                                <p>Legenda de videos</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="button-radio2" data-value="Outros">
                                <i style="font-size: 2em" class="fa fa-clipboard-list"></i>
                                <p>Outros</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row info-extra">
                <label class="control-label text-label2 col-md-3" style="font-size: 16px; font-weight: 500;">Outros:</label>
                <div class="col-md-9">
                    <textarea name="info_extra" v-model="info_extra" placeholder="Descreva sua solicitaçao para melhor entendimento do tradutor" rows="4" id="translation_text" class="form-control text optional"></textarea>
                </div>
            </div>
            <hr>
            <!-- <div class="row" style="margin-bottom: 30px;">
                <label class="control-label text-label2 col-md-3" style="font-size: 16px; font-weight: 500;">Qualidade:</label>
                <div class="col-md-9">
                    <div class="row justify-content-around">
                        <div id="clickTraducao" v-show="tipoServico == 'Traducao'" @click="changeQualidade('Standart'); price2();" class="col-md-4 box-price">
                            <div class="titlebox">Tradução humana profissional</div>
                            <div class="box-qualidade-normal">
                                <span class="tiny">R$ </span><span class="tony">{{normal}}</span> <span>palavra</span>
                                <div class="radio-custom">
                                    <div class="check"></div>
                                </div>
                            </div>
                        </div>
                        <div id="clickRevisao" v-show="tipoServico == 'Revisao'" @click="changeQualidade('Standart'); price2();" class="col-md-4 box-price">
                        <div class="titlebox2">Revisão Profissional</div>
                            <div class="box-qualidade-premium">
                                <span class="tiny">R$ </span><span class="tony">{{normal}}</span> <span>palavra</span>
                                <div class="radio-custom">
                                    <div class="check"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="form-group row">
                <label class="control-label text-label2 col-md-3" style="font-size: 16px; font-weight: 500;">Instruções para o tradutor / revisor:</label>
                <div class="col-md-9">
                    <textarea name="resumo" rows="4" id="translation_resumo" class="form-control text optional"></textarea>
                    <p style="float: left;">Alguns exemplos: </p>
                    <ul style= "float: left; margin: 0; list-style: none;" class="helper-instructions-samples unstyled">
                    <li>
                        <i class="helper-instructions-type"></i>
                        <i class="helper-instructions-description">Linguagem formal, informal, etc</i>
                    </li>
                    <li>
                        <i class="helper-instructions-type"></i>
                        <i class="helper-instructions-description">O trabalho será apresentado na Espanha.</i>
                    </li>
                    <li>
                        <i class="helper-instructions-type">Propósito:</i>
                        <i class="helper-instructions-description">Apresentarei para um dos meus melhores clientes</i>
                    </li>
                </ul>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label text-label2 col-md-3" style="font-size: 14px; font-weight: 500;">Precisa que consideremos termos específicos? Anexe seu glossário aqui!</label>
                <div class="col-md-9">
                    <input type="file" accept=".doc,.docx,.pdf, .xls, .xlsx, .pptx" name="glossario" />
                </div>
            </div>
                <input type="hidden" name="price" v-bind:value="total">
                <input type="hidden" name="words" v-bind:value="words">
                <input type="hidden" name="deadline" v-bind:value="deadline2">
                <input type="hidden" name="serviceconfig" v-bind:value="oi">
                <input type="hidden" id="tipodedocumento" name="tipo_de_documento" value="">
                <input v-for="test in hiddenFile2" type="hidden" name="files" v-bind:value="test.file">
            </form>
        </div>
    </div>
    </div>

    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
        <div>
            <div class="card-body sticky" style="margin-top: 0; padding-top: 0; z-index: 1;">
                <div class="resume-translation">
                    <h3>Resumo do pedido</h3>
                    <hr class="style-two">
                        <div class="row resume-list">
                            <div class="col-md-6">Moeda:</div><div class="col-md-6" style="text-align: right;">R$</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-8">Número de Palavras:</div><div class="col-md-4" style="text-align: right;">{{words}}</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-8">Preço por Palavra:</div><div class="col-md-4" style="text-align: right;">{{preco}}</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-6">Idiomas:</div><div class="col-md-6" style="text-align: right;">{{lang1Show}} > {{lang2Show}}</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-6">Prazo:</div><div class="col-md-6" style="text-align: right;"><span v-if="this.qualidade != ''">{{deadline}}</span> <div data-placement="top" class="question">?</div></div>
                        </div>
                        <div class="row resume-list prazo">
                            <div class="col-md-12">O prazo de entrega é uma estimativa e não uma garantia</div>
                        </div>
                        <hr class="style-two">
                        <div class="row resume-list">
                            <div class="col-md-6"><strong>Total:</strong></div><div class="col-md-6" style="text-align: right;"><strong>R${{total}}</strong></div>
                        </div>
                        
                    <div class="form-actions" style="text-align: center;">
                        <input :disabled="serviceconfig == ''" type="submit" @click="submitHandler" value="Confirmar pedido" class="btn-desk">
                    </div>
                    <div style="text-align: center; margin-top: 15px;">
                        <p class="small">Clicando em "Confirmar Pedido" você concorda com nossos  <a target="_blank" href="/termo-user.pdf"><strong style="color: #ef3f3e">Termos e condições</strong></a> e a nossa <a href="/politica-privacidade.pdf" target="_blank"><strong style="color: #ef3f3e">Política de Privacidade</strong></a> </p>
                        </div>
                </div>
            </div>
        </div>
        <div class="card">
        <div class="card-body card-video-mobile">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-5">
                   <iframe width="150" height="100" src="https://www.youtube.com/embed/1sivmn8Qllk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-7">
                    <h3>Dúvidas sobre a nossa plataforma?</h3>
                    <p><a href="/ebook-ut.pdf">Baixe o e-book</a> e conheça mais a nossa plataforma.</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<script>
var app = new Vue({
  el: '#app',
  data: {
    text: '',
    selected: '',
    selected2: '',
    file: [],
    options: [],
    options2: [],
    lang1: '',
    lang2: '',
    total: '',
    words: 0,
    hiddenFile: '',
    hiddenFile2: [],
    preco: '',
    prazoAdicional: '',
    deadline: '',
    qualidade: '',
    lang1Show: '',
    lang2Show: '',
    deadline2: '',
    tipoServico: '',
    info_tipoServico: '',
    info_extra: '',
    prazo1: '',
    prazo2: '',
    prazo3: '',
    fileLoading: false,
    limite_palavras1: '',
    limite_palavras2: '',
    limite_palavras3: '',
    serviceconfig: '',
    normal: '',
    premium: '',
    oi: ''
  },
  beforeCreate: function() {
      axios.get('/languages/json')
        .then((response) => {
            this.options = response.data
        })
  },
  watch: {
      selected2: function() {
          console.log('--------')
          console.log(this.selected2)
          let val = document.getElementById(this.selected2).value
          this.lang1 = val
        axios.get('/languages/matchlanguages/' + this.lang1)
        .then(response => {
            console.log(response)
            this.options2 = response.data
        })
      },
      fileLoading: function() {
          if(this.fileLoading) {
                    Swal({
                 html: '<div style="vertical-align: middle;"><i style="vertical-align: middle" class="fas fa-2x fa-circle-notch padding-loading fa-spin"></i> <span style="vertical-align: middle">Carregando...</span></div>',
                background: '#81468f',
                customClass: 'loading-container',
                allowEscapeKey: false,
                allowEnterKey: false,
                allowOutsideClick: false,
                showConfirmButton: false
            })
          } else {
              swal.close()
          }
      },
      words: function() {
          if(this.words >= 6 ) {
              axios.post('/franc', {text: this.text})
              .then(resp => {
                  this.selected2 = resp.data.language
              })
          }
          if(this.words <= this.limite_palavras1 && this.limite_palavras1 != '') {
            this.deadline = moment().add(this.prazo1, 'days').format('DD/MM/YYYY')
            this.deadline2 = moment().add(this.prazo1, 'days').format()
          } else if(this.words <= this.limite_palavras2 && this.limite_palavras2 != '') {
            this.deadline = moment().add(this.prazo2, 'days').format('DD/MM/YYYY')
            this.deadline2 = moment().add(this.prazo2, 'days').format()
          } else if(this.words <= this.limite_palavras3) {
            this.deadline = moment().add(this.prazo3, 'days').format('DD/MM/YYYY')
            this.deadline2 = moment().add(this.prazo3, 'days').format()
          } else {
              var addPrazoValue = (this.words / 1500)
              if(addPrazoValue > 2) {
                var fomatedPrazo = (parseInt(this.prazoAdicional) * Math.floor(addPrazoValue))
                this.deadline = moment().add(fomatedPrazo + Math.floor(addPrazoValue), 'days').format('DD/MM/YYYY')
                this.deadline2 = moment().add(fomatedPrazo + Math.floor(addPrazoValue), 'days').format()
              } else {
                this.deadline = moment().add(this.prazo3, 'days').format('DD/MM/YYYY')
                this.deadline2 = moment().add(this.prazo3, 'days').format()
              }
          }
          console.log(this.words * this.preco)
          this.total = (this.words * this.preco).toLocaleString('de-DE', {minimumFractionDigits: 2})
      },
      preco: function() {
        if(this.words <= this.limite_palavras1 && this.limite_palavras1 != '') {
            this.deadline = moment().add(this.prazo1, 'days').format('DD/MM/YYYY')
            this.deadline2 = moment().add(this.prazo1, 'days').format()
          } else if(this.words <= this.limite_palavras2 && this.limite_palavras2 != '') {
            this.deadline = moment().add(this.prazo2, 'days').format('DD/MM/YYYY')
            this.deadline2 = moment().add(this.prazo2, 'days').format()
          } else if(this.words <= this.limite_palavras3) {
            this.deadline = moment().add(this.prazo3, 'days').format('DD/MM/YYYY')
            this.deadline2 = moment().add(this.prazo3, 'days').format()
          } else {
              var addPrazoValue = (this.words / 1500)
              if(addPrazoValue > 2) {
                var fomatedPrazo = (parseInt(this.prazoAdicional) * Math.floor(addPrazoValue))
                this.deadline = moment().add(fomatedPrazo + Math.floor(addPrazoValue), 'days').format('DD/MM/YYYY')
                this.deadline2 = moment().add(fomatedPrazo + Math.floor(addPrazoValue), 'days').format()
              } else {
                this.deadline = moment().add(this.prazo3, 'days').format('DD/MM/YYYY')
                this.deadline2 = moment().add(this.prazo3, 'days').format()
              }
          }
          console.log(this.words * this.preco)
          this.total = (this.words * this.preco).toLocaleString('de-DE', {minimumFractionDigits: 2})
      }
  },
  methods: {
    matchlanguages: function() {
        axios.get('/languages/matchlanguages/' + this.lang1)
        .then(response => {
            console.log(response)
            this.options2 = response.data
        })
    },
    submitHandler: function(e) {
        console.log('apertou')
        e.preventDefault();
        let price = this.total
        price = price.replace(',', '')
        price = price.replace('.', '')
        const validFile = this.hiddenFile2.filter(function(file) {
            return file.valid == false
        })
        if(validFile.length > 0) {
                        Swal({
                title: 'Prezado Cliente',
                type: 'warning',
                html: "<p>Existem arquivos inválidos. Favor remove-los para prosseguir</p>",
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Entendi'
                }).then((result) => {
                    console.log("ok")
                })
                return
        }
        if (price < 1000) {
            Swal({
                title: 'Prezado Cliente',
                type: 'warning',
                html: "<p>Pedimos desculpas mas o valor mínimo de um serviço é de R$10,00 e será reajustado.</p><p>Deseja prosseguir?</p>",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim'
                }).then((result) => {
                if (result.value) {
                    this.total = '10,00'
                    this.$refs.form.submit()
                }
                })
        } else {
            this.$refs.form.submit()
        }
        
    },
    removeFile: function(value, index) {
        this.words -= value.words
        var array = this.hiddenFile2
        array.splice(index, 1)
        if(array.length == 0) {
            this.$refs.texto.disabled = false
            location.reload();
        }
    },
    changeTipoServico: function(value) {
        this.tipoServico = value
        this.qualidade = 'Standart'
        if(this.tipoServico ==  "Revisao") {
            this.info_tipoServico = "Revisão Profissional"
        }
        if(this.tipoServico ==  "Traducao") {
            this.info_tipoServico = "Tradução Profissional"
        }
        this.changeQualidade('Standart')
        this.price2()
    },
    changeQualidade: function(value) {
        this.qualidade = value
        this.price2()
    },
    countwords: function() {
        if(this.text.length == 0) {
            this.$refs.arquivoB.disabled = false
            this.$refs.file.disabled = false
            return 0
        } else {
            this.$refs.arquivoB.disabled = true
            this.$refs.file.disabled = true
            let matches = this.text.match(/[\w\d\’\'-]+/gi)
            this.words = matches.length            
            return matches.length
        }
    },
    handleFile2: function() {
          this.fileLoading = true
          var files = this.$refs.file.files
          for (i=0; i < files.length; i++) {
            this.file = files[i];
              let formData = new FormData();
              formData.append('document', this.file);
            axios.post( '/documents',
            formData,
            {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }
            ).then( response => {
                if(response.data.success == false) {              
                    swal({
                    type: 'error',
                    title: 'Arquivo inválido!',
                    html: 'O tipo do arquivo deve ser <b>pdf</b>, <b>doc</b> ou <b>docx</b>',
                    })
                    this.$refs.file.value = ''
                    this.$refs.texto.disabled = false
                    this.fileLoading = false
                } else{
                    if(response.data.words === 0) {
                        response.data.valid = false
                    } else {
                        response.data.valid = true
                    }
                    this.hiddenFile2.push(response.data)
                    this.words += response.data.words
                    this.text = ''
                    this.selected2 = response.data.language
                    this.fileLoading = false
                    this.$refs.texto.disabled = true
                }
            })
            .catch(function(err){
            console.log(err);
            });
          };
    },
    handleFile: function() {
          this.file = this.$refs.file.files[0];
          let formData = new FormData();
          formData.append('document', this.file);
       axios.post( '/documents',
        formData,
        {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        }
        ).then( response => {
            console.log(response)
            if(response.data.success == false) {              
                swal({
                type: 'error',
                title: 'Arquivo inválido!',
                html: 'O tipo do arquivo deve ser <b>pdf</b>, <b>doc</b> ou <b>docx</b>',
                })
                this.$refs.file.value = ''
                this.$refs.texto.disabled = false
            } else{
                this.hiddenFile = response.data.file
                this.words = response.data.words
                this.text = ''
                this.$refs.texto.disabled = true
            }
        })
        .catch(function(err){
        console.log(err);
        });
    },
    price2: function() {
        console.log("veio aqui...")

        console.log({        lang_origem: this.lang1,
            lang_dest: this.lang2,
            tipo_de_servico: this.tipoServico,
            qualidade: this.qualidade})
        axios.post('/translations/serviceconfig/find', {
            lang_origem: this.lang1,
            lang_dest: this.lang2,
            tipo_de_servico: this.tipoServico,
            qualidade: this.qualidade
        })
        .then(response => {
            console.log("responseee")
                console.log(response.data)
            if(this.lang1 != '' && this.lang2 != '' && this.tipoServico != '' && response.data == null) {
                console.log("caiu nesse if")
                swal({
                type: 'error',
                title: 'Opção Inexistente',
                html: 'Ainda não temos serviço disponível para essas linguas.',
                })
                this.lang1 = ''
                this.lang2 = ''
                this.tipoServico = ''
                this.qualidade = ''
            } 
            this.prazo1 = response.data.prazo1
            this.prazo2 = response.data.prazo2
            this.prazo3 = response.data.prazo3
            this.prazoAdicional = response.data.prazo
            this.limite_palavras1 = response.data.limite_palavras1
            this.limite_palavras2 = response.data.limite_palavras2
            this.limite_palavras3 = response.data.limite_palavras3
            this.preco = response.data.price
            this.serviceconfig = response.data._id
            this.deadline = moment().add(this.prazo, 'days').format('DD/MM/YYYY')
            this.deadline2 = moment().add(this.prazo, 'days').format()
            this.oi = response.data._id
            console.log("serviceconfiggg")
            console.log(this.serviceconfig, response.data._id)
        })
        .catch(function (error) {
            console.log(error);
        });
    },
    price: function() {
        axios.get('/languages/'+ this.lang1)
        .then(response => {
            this.lang1Show = response.data.abbreviation
        })
        axios.get('/languages/'+ this.lang2)
        .then(response => {
            this.lang2Show = response.data.abbreviation
        })
        axios.post('/translations/serviceconfig/find', {
            lang_origem: this.lang1,
            lang_dest: this.lang2,
            tipo_de_servico: this.tipoServico
        })
        .then(response => {
            if(this.lang1 != '' && this.lang2 != '' && this.tipoServico != '' && response.data == null) {
                swal({
                type: 'error',
                title: 'Opção Inexistente',
                html: 'Ainda não temos serviço disponível para essas linguas.',
                })
                this.lang1 = ''
                this.lang2 = ''
                this.tipoServico = ''
                this.qualidade = ''
            } 
            this.prazo1 = response.data.prazo1
            this.prazo2 = response.data.prazo2
            this.prazo3 = response.data.prazo3
            this.prazoAdicional = response.data.prazo
            this.limite_palavras1 = response.data.limite_palavras1
            this.limite_palavras2 = response.data.limite_palavras2
            this.limite_palavras3 = response.data.limite_palavras3
            this.serviceconfig = response.data._id
            this.deadline = moment().add(this.prazo, 'days').format('DD/MM/YYYY')
            this.deadline2 = moment().add(this.prazo, 'days').format()
            this.normal = response.data[0].price
                //if(response.data.length > 1) {
                //    this.normal = response.data[0].price
                //    this.premium = response.data[1].price
                //} else if(response.data.qualidade == 'Standart') {
                //    this.normal = response.data[0].price
                //} else {
                //    console.log("caiu nessa if")
                //    this.premium = response.data[0].price
                //}
            

            console.log(this.response)
            console.log(this.limite_palavras3)
        })
        .catch(function (error) {
            console.log(error);
        });
      }
  }
})
</script>
{% endverbatim %}
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
$(document).ready(function () {
  var top = $('.sticky').offset().top;
  $(window).scroll(function (event) {
    var y = $(this).scrollTop();
    if (y >= top)
      $('.sticky').addClass('fixed');
    else
      $('.sticky').removeClass('fixed');
      $('.sticky').width(300);
  });
});
</script>
<script>
$(document).ready(function() {
    $('.prazo').hide();
    $('.info-extra').hide();
    $('.question').mouseover(function() {
        $('.prazo').show();
    });
    $('.question').mouseleave(function() {
        $('.prazo').hide();
    })
    $('.button-radio').click(function() {
        $('.button-radio').removeClass('button-radio-clicked')
        $(this).addClass('button-radio-clicked')
    })
    $('.button-radio2').click(function() {
        $('.button-radio2').removeClass('button-radio-clicked2')
        $(this).addClass('button-radio-clicked2')
        let val = $(this).data("value")
        if(val == 'Outros') {
            $('.info-extra').show()
        } else {
            $('.info-extra').hide()
        }
        $("#tipodedocumento").val(val);
    })
    $('.box-qualidade-normal').click(function() {
        $('.box-qualidade-premium').find('.check').removeClass('checked')
        $(this).find('.check').addClass('checked')
    })
    $('.box-qualidade-premium').click(function() {
        $('.box-qualidade-normal').find('.check').removeClass('checked')
        $(this).find('.check').addClass('checked')
    })
})
</script>
{% endblock %}
