{% extends "../Templates/template.html" %}
{% block body %}
{% verbatim %}
<div class="row" id="app" style="margin-top: 50px;">
    <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="card-title">Pagamento</h2>
        <div class="card">
            <div class="card-body">
                <div class="container-fluid py-3">
                    <div class="row">
                        <div class="col-12 col-sm-8 col-md-6 col-lg-6 mx-auto">
                            <div id="pay-invoice" class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h3 class="text-center">Cartão de Crédito</h3>
                                    </div>
                                    <hr>
                                    <form action="/translations/pay" method="post" class="needs-validation">
                                        <div class="form-group">
                                            <label for="cc-name" class="control-label mb-1">Nome</label>
                                            <input id="cc-name" name="nome" type="text" class="form-control cc-name" required autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error" required>
                                            <small>Igual ao escrito no cartão</small>
                                            <span class="invalid-feedback">Insira o nome igual consta no cartão</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="cc-number" class="control-label mb-1">Número do Cartão</label>
                                            <input id="cartao" name="cartao" type="tel" class="form-control cc-number" required="" pattern="[0-9\s]{19}" required>
                                            <span class="invalid-feedback">Insira um cartão de crédito válido</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label for="cc-exp" class="control-label mb-1">Validade</label>
                                                    <input id="cc-exp" name="card_expiration" type="tel" class="form-control cc-exp" required placeholder="MM / YY" autocomplete="cc-exp" required>
                                                    <span class="invalid-feedback">Insira a validade</span>
                                                </div>
                                            </div>
                                            <input type="hidden" name="translationID" value="{{translation._id}}">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <label for="x_card_code" class="control-label mb-1">Código de segurança</label>
                                                <div class="input-group">
                                                    <input id="x_card_code" name="x_card_code" class="form-control cc-cvv" required autocomplete="off" maxlength="3">
                                                    <span class="invalid-feedback order-last">Insira os 3 digitos no verso do cartão</span>
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                        <span class="fa fa-question-circle fa-lg" data-toggle="popover" data-container="body" data-html="true" data-title="Security Code" 
                                                        data-content="<div class='text-center one-card'>The 3 digit code on back of the card..<div class='visa-mc-cvc-preview'></div></div>"
                                                        data-trigger="hover"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label for="cc-exp" class="control-label mb-1">CPF</label>
                                                    <input id="cpf" class="form-control cc-exp" required>
                                                    <span class="invalid-feedback">Digite seu cpf</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label for="cc-exp" class="control-label mb-1">Data de nascimento</label>
                                                    <input id="cpf" class="form-control cc-exp" required>
                                                    <span class="invalid-feedback">XX/XX/XXXX</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin-top: 10px;">
                                            <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                                <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                <span id="payment-button-amount">Pagar R${{translation.price}}</span>
                                                <span id="payment-button-sending" style="display:none;">Sending…</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {# <div class="col-6 col-sm-8 col-md-6 col-lg-6 mx-auto" style="display: flex; align-items: center;">
                            <div class="card-body" style="text-align: center; ">
                                <div class="card-title">
                                    <h3 class="text-center">Boleto Bancário</h3>
                                </div>
                                <div> 
                                    <img width="120px;" src="https://affinibox.com.br/wp-content/uploads/2019/02/3125_2019-Feb-Wed-15-51.png" style="margin-top: 20px; margin-bottom: 40px"/>
                                    <form action="/translations/payboleto" method="post">
                                    <input type="hidden" name="translationID" value="{{translation._id}}">
                                    
                                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                            <i class="fa fa-barcode fa-lg"></i> Pagar com boleto
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div> #}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 ">
        <div>
            <div class="card-body sticky" style="margin-top: 0; padding-top: 0;">
                <div class="resume-translation">
                    <h3>Resumo do pedido</h3>
                    <hr class="style-two">
                        <div class="row resume-list">
                            <div class="col-md-6">Moeda:</div><div class="col-md-6" style="text-align: right;">R$</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-8">Nivel de Qualidade:</div><div class="col-md-4" style="text-align: right;">{{translation.serviceconfig.qualidade}}</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-8">Numero de Palavras:</div><div class="col-md-4" style="text-align: right;">{{translation.words}}</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-8">Preço por Palavra:</div><div class="col-md-4" style="text-align: right;">{{translation.serviceconfig.price}}</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-6">Prazo:</div><div class="col-md-6" style="text-align: right;">{{translation.deadline}} <div data-placement="top" class="question">?</div></div>
                        </div>
                        <div class="row resume-list prazo">
                            <div class="col-md-12">O prazo de entrega é uma estimativa e não uma garantia</div>
                        </div>
                        <hr class="style-two">
                        <div class="row resume-list">
                            <div class="col-md-6"><strong>Total:</strong></div><div class="col-md-6" style="text-align: right;"><strong>R${{translation.price}}</strong></div>
                        </div>
                        <div style="text-align: center; margin-top: 15px;">
                        <p>Consultar <strong style="color: #ef3f3e">Termos e condições</strong></p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #e8e9eb">
        <h5 class="modal-title" id="exampleModalLabel" style="margin: 0 auto font-weight: bold;">Universo Traduções</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    {# $(document).ready(function() {
        Swal({
        html: '<div style="vertical-align: middle;"><i style="vertical-align: middle" class="fas fa-2x fa-circle-notch padding-loading fa-spin"></i> <span style="vertical-align: middle">Processando pagamento...</span></div>',
        timer: 150000,
        background: '#81468f',
        customClass: 'loading-container',
        allowEscapeKey: false,
        allowEnterKey: false,
        allowOutsideClick: false,
        showConfirmButton: false
        })
    }) #}
    $("#payment-button").click(function(e) {

        // Fetch form to apply Bootstrap validation
        var form = $(this).parents('form');
        
        if (form[0].checkValidity() === false) {
        e.preventDefault();
        e.stopPropagation();
        }
        else {
        // Perform ajax submit here
        form.submit();
        }
        
        form.addClass('was-validated');
    });
    $( "form" ).submit(function( event ) {
        let timerInterval
        Swal({
        html: '<div><i class="fas fa fa-circle-notch padding-loading fa-spin"></i> <span style="line-height: 50px">Processando pagamento...</span></div>',
        timer: 30000,
        background: '#81468f',
        customClass: 'loading-container',
        allowEscapeKey: false,
        allowEnterKey: false,
        allowOutsideClick: false,
        showConfirmButton: false
        })
    })
  $(function () { $("input").not("[type=submit]").jqBootstrapValidation(); } );
</script>
<script>
new Cleave('.cc-number', {
    creditCard: true,
    onCreditCardTypeChanged: function (type) {
        // update UI ...
    }
});
</script>
<script>
new Cleave('.cc-exp', {
    date: true,
    datePattern: ['m', 'y']
});
</script>
<script>
new Cleave('.cc-cvv', {
});
</script>
{% endblock %}