{% extends "../Templates/template.html" %}
{% block body %}
{% verbatim %}
<div class="col-md-8 offset-md-2">
<div class="row" id="app" style="margin-top: 50px;">
    <div class="col-sm-12 col-xs-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="form-translation">
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#login" role="tab" aria-selected="true">Login</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#register" role="tab" aria-selected="false">Registrar</a> </li>
                </ul>
                    <br/>
                    <div class="tab-content">
                        <div class="tab-pane active" id="login" role="tabpanel">
                            <h3 class="text-center">Login</h3>
                            <div style= "margin-bottom: 20px; margin-top: 20px;" class="text-center">
                                <a href="{{url}}">
                                    <button class="btn btn-googleplus waves-effect waves-light" type="button" style="width: 80%;">
                                        <i class="fab fa-google 2x"></i> Login com o Google
                                    </button>
                                </a>
                            </div>
                            {# <div style= "margin-bottom: 20px;" class="text-center">
                                <a href="https://www.facebook.com/v3.2/dialog/oauth?client_id=664147130649969&redirect_uri=https://plataforma.universotraducoes.com/auth/facebook/callback&scope=email&state={{translation._id}}">
                                    <button class="btn btn-facebook waves-effect waves-light" type="button" style="width: 80%;">
                                        <i class="fab fa-facebook 2x"></i> Login com o Facebook
                                    </button>
                                </a>
                            </div> #}
                            <p class="text-center">ou</p>
                            <p class="text-center">Entre com uma conta da Universo</p>
                            <form method="post" action="/translations/login">
                            <div class="form-group row">
                                <label for="example-password-input" class="col-xs-12 col-sm-12 col-md-2 col-form-label">Email</label>
                                <div class="col-md-10 col-xs-12 col-sm-12">
                                    <input class="form-control" type="text" name="email" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-password-input" class="col-md-2 col-xs-12 col-sm-12 col-form-label">Senha</label>
                                <div class="col-md-10 col-xs-12 col-sm-12">
                                    <input class="form-control" type="password" name="password" >
                                </div>
                            </div>
                                <input type="hidden" name="translationID" value="{{translation._id}}">

                            <div class="form-actions" style="text-align: center;">
                                <input type="submit" style="width: 50%; height: 50px;" value="Login" data-disable-with="Create Translation" class="btn btn-success">
                            </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="register" role="tabpanel">
                            <h3 class="text-center">Registrar</h3>
                            <div style= "margin-bottom: 20px; margin-top: 20px;" class="text-center">
                                <a href="{{url}}">
                                    <button class="btn btn-googleplus waves-effect waves-light" type="button" style="width: 80%;">
                                        <i class="fab fa-google 2x"></i> Registrar com o Google
                                    </button>
                                </a>
                            </div>
                            {# <div style= "margin-bottom: 20px;" class="text-center">
                                <a href="https://www.facebook.com/v3.2/dialog/oauth?client_id=664147130649969&redirect_uri=https://plataforma.universotraducoes.com/auth/facebook/callback&scope=email&state={{translation._id}}">
                                    <button class="btn btn-facebook waves-effect waves-light" type="button" style="width: 80%;">
                                        <i class="fab fa-facebook 2x"></i> Registrar com o Facebook
                                    </button>
                                </a>
                            </div> #}
                            <p class="text-center">ou</p>
                            <p class="text-center">Entre com uma conta da Universo</p>
                           <form method="post" action="/translations/register">
                            <div class="form-group row">
                                <label for="example-password-input" class="col-md-2 col-xs-12 col-sm-12 col-form-label">Nome</label>
                                <div class="col-md-10 col-xs-12 col-sm-12">
                                    <input class="form-control" type="text" name="name" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-password-input" class="col-md-2 col-xs-12 col-sm-12 col-form-label">Email</label>
                                <div class="col-md-10 col-xs-12 col-sm-12">
                                    <input class="form-control" type="text" name="email" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-password-input" class="col-md-2 col-xs-12 col-sm-12 col-form-label">Senha</label>
                                <div class="col-md-10 col-xs-12 col-sm-12">
                                    <input class="form-control" type="password" name="password" >
                                </div>
                            </div>
                                <input type="hidden" name="translationID" value="{{translation._id}}">

                            <div class="form-actions" style="text-align: center;">
                                <input type="submit" style="width: 50%; height: 50px;" value="Criar Conta" data-disable-with="Create Translation" class="btn btn-success">
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-6">
        <div>
            <div class="card-body sticky" style="margin-top: 0; padding-top: 0;">
                <div class="resume-translation">
                    <h3>Resumo do pedido</h3>
                    <hr class="style-two">
                        <div class="row resume-list">
                            <div class="col-md-6">Moeda:</div><div class="col-md-6" style="text-align: right;">R$</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-8">Nivel de Qualidade:</div><div class="col-md-4" style="text-align: right;">{{translation.serviceconfig.qualidade}}</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-8">Numero de Palavras:</div><div class="col-md-4" style="text-align: right;">{{translation.words}}</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-8">Preço por Palavra:</div><div class="col-md-4" style="text-align: right;">{{translation.serviceconfig.price}}</div>
                        </div>
                        <div class="row resume-list">
                            <div class="col-md-6">Prazo:</div><div class="col-md-6" style="text-align: right;">{{translation.deadline}} <div data-placement="top" class="question">?</div></div>
                        </div>
                        <div class="row resume-list prazo">
                            <div class="col-md-12">O prazo de entrega é uma estimativa e não uma garantia</div>
                        </div>
                        <hr class="style-two">
                        <div class="row resume-list">
                            <div class="col-md-6"><strong>Total:</strong></div><div class="col-md-6" style="text-align: right;"><strong>R${{translation.price}}</strong></div>
                        </div>
                        <div style="text-align: center; margin-top: 15px;">
                        <p>Consultar <strong style="color: #ef3f3e">Termos e condições</strong></p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
