{% extends "../Templates/template.html" %}
{% block body %}
<div class="row" id="app" style="margin-top: 30px;">
    <div class="col-sm-12 col-md-7 translation-show">
    {% if flash %}
      <div class="alert alert-warning"> <i class="ti-info"></i> {{flash}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
      </div>
      {% endif %}
        <div class="form-translation-show">
            {% if translation.status == 'Em Progresso' %}
                <span class="float-right resume-status-progresso">Em Progresso</span>
            {% elif translation.status == 'Revisão' %}
                <span class="float-right resume-status-progresso">Revisão</span>
            {% elif translation.status == 'Aguardando Tradutor' %}
                <span class="float-right resume-status-progresso">Aguardando Tradutor</span>
            {% elif translation.status == 'Aguardando Aprovação' %}
              <span class="float-right resume-status-completo">Aguardando Aprovação</span>
            {% else %}
                <span class="float-right resume-status-completo">Concluído</span>
            {% endif %}
            <h3 class="resume-title">{{ translation.title }}</h3>
          <hr>
          <div class="row">
          <div class="col-md-6">
            <div class="btn btn-warning btn-circle" style="float: left; margin-top: 20px; margin-right: 15px;"><i class="ti-calendar"></i></div>
              <div style="float: left">
                <h5 class="resume-subtitle">Prazo para conclusão</h5>
                <p class="resume-text">{{translation.deadline}}</p>
              </div>
            </div>
          <div class="col-md-6">
            <div class="btn btn-warning btn-circle" style="float: left; margin-top: 20px; margin-right: 15px;"><i class="ti-settings"></i></div>
              <div style="float: left">
                <h5 class="resume-subtitle">Tipo de serviço</h5>
                {% if translation.serviceconfig.tipo_de_servico == 'Traducao' %}
                <p class="resume-text">Tradução</p>
                {% else %}
                <p class="resume-text">Revisão</p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="btn btn-success btn-circle" style="float: left; margin-top: 20px; margin-right: 15px;"><i class="ti-comments"></i></div>
                <div style="float: left">
                  <h5 class="resume-subtitle">Nº de palavras</h5>
                  <p class="resume-text">{{ translation.words }}</p>
                </div>
            </div>
            <div class="col-md-6">
            <div class="btn btn-success btn-circle" style="float: left; margin-top: 20px; margin-right: 15px;"><i class="ti-text"></i></div>
              <div style="float: left">
                <h5 class="resume-subtitle">Idiomas</h5>
                <p class="resume-text">
                {{ translation.serviceconfig.lang_origem[0].name }} > {{ translation.serviceconfig.lang_dest[0].name }}
                </p>
              </div>
            </div>
          </div>
            <div class="row">
            <div class="col-md-6">
            <div class="btn btn-success btn-circle" style="float: left; margin-top: 20px; margin-right: 15px;"><i class="ti-settings"></i></div>
              <div style="float: left">
                <h5 class="resume-subtitle">Qualidade</h5>
                <p class="resume-text">
                {{translation.serviceconfig.qualidade}}
                </p>
              </div>
            </div>
            <div class="col-md-6">
            <div class="btn btn-success btn-circle" style="float: left; margin-top: 20px; margin-right: 15px;"><i class="ti-settings"></i></div>
              <div style="float: left">
                <h5 class="resume-subtitle">ID do projeto</h5>
                <p class="resume-text">
                {{translation.uid}}
                </p>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-6">
          <div class="btn btn-danger btn-circle" style="float: left; margin-top: 20px; margin-right: 15px;"><i class="ti-money"></i></div>
            <div style="float: left">
              <h5 class="resume-subtitle">Valor</h5>
              <p class="resume-text">
                  {% if current_user.is_tradutor %}
                {{translation.price}}
                  {% else %}
                  R${{translation.price}}
                  {% endif %}
              </p>
            </div>
          </div>
          {% if translation.resumo %}
          <div class="col-md-6">
            <div class="btn btn-danger btn-circle" style="float: left; margin-top: 20px; margin-right: 15px;"><i class="ti-info"></i></div>
            <div style="float: left; width: 80%">
              <h5 class="resume-subtitle">Instruções para tradutor / revisor</h5>
              <p>{{translation.resumo}}</p>
            </div>
          </div>
          {% endif %}      
        </div>
        <div class="row">
          <div class="col-md-6">
             <div class="btn btn-danger btn-circle" style="float: left; margin-top: 20px; margin-right: 15px;"><i class="ti-info"></i></div>
            <div style="float: left; width: 80%">
              <h5 class="resume-subtitle">Tipo de documento</h5>
              <p>{{translation.tipo_de_documento}}</p>
            </div>
          </div>
          {% if translation.info_extra %}
          <div class="col-md-6">
             <div class="btn btn-warning btn-circle" style="float: left; margin-top: 20px; margin-right: 15px;"><i class="ti-info"></i></div>
            <div style="float: left; width: 80%">
              <h5 class="resume-subtitle">Informaçoes Extra</h5>
              <p>{{translation.info_extra}}</p>
            </div>
          </div>
          {% endif %}
        </div>
        {% if translation.glossario %}
        <div class="row">
          <div class="col-md-6">
             <div class="btn btn-danger btn-circle" style="float: left; margin-top: 20px; margin-right: 15px;"><i class="ti-info"></i></div>
            <div style="float: left; width: 80%">
              <h5 class="resume-subtitle">Glossario</h5>
              <p><a href="/{{translation.glossario}}">{{translation.glossario}}</a> </p>
            </div>
          </div>
          </div>
          {% endif %}
        <div class="row">
          <div class="col-md-6">
            <div class="btn btn-danger btn-circle" style="float: left; margin-top: 20px; margin-right: 15px;"><i class="ti-cloud-down"></i></div>
            <div style="float: left; width: 80%">
              <h5 class="resume-subtitle">Item original</h5>
              {% if translation.text %}
              <textarea style="width: 100%; height: 300px;" disabled>{{ translation.text }}</textarea>
              {% else %}
                {% if translation.status == 'Aguardando Tradutor' and current_user.is_tradutor and not current_user.is_admin %}
                  <p>Documentos em ocultados até a aceitação da tradução</p>
                {% else %}
                  {% for file in translation.files %}
                  <p><a href="/{{file}}">{{file | replace(r/.+?(?=-)/, "") | truncate(25)}}</a> </p>
                  {% endfor %}
                {% endif %}
              {% endif %}
            </div>
          </div>
       
          <div class="col-md-6">
            <div class="btn btn-danger btn-circle" style="float: left; margin-top: 20px; margin-right: 15px;"><i class="ti-cloud-down"></i></div>
            <div style="float: left; width: 80%">
              {% if translation.status == "Aguardando Aprovação" and translation.revisao %}
              <h5 class="resume-subtitle">Item Revisado</h5>
              {% else %}
              <h5 class="resume-subtitle">Item Traduzido</h5>
              {% endif %}
              {% if translation.translated_text %}
              <textarea style="width: 100%; height: 300px;" disabled>{{ translation.translated_text }}</textarea>
              {% else %}
                {% for file in translation.translated_files %}
                  <p><a href="/{{file}}">{{file | replace(r/.+?(?=-)/, "") | truncate(25)}}</a> </p>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        {% if current_user.is_tradutor %}
          {% if translation.status == 'Em Progresso' %}
          <div class="form-translation-show" style="margin-top:20px;">
            <h5 class="resume-subtitle">Postar Tradução</h5>
            <p class="small">Quando concluir o trabalho cole o texto ou anexe o arquivo.</p>
            <div style="margin: auto; text-align: center;">
            <button class="btn btn-primary btn-lg btn-block concluir"><i class="fa fa-language"></i> Concluir minha Tradução</button>
            </div>
          </div>
          {% endif %}
          {% if translation.status == 'Revisão'%}
            <div class="form-translation-show" style="margin-top:20px;">
            <h5 class="resume-subtitle">Postar Revisão</h5>
            <p class="small">Quando concluir o trabalho cole o texto ou anexe o arquivo.</p>
            <div style="margin: auto; text-align: center;">
            <button class="btn btn-primary btn-lg btn-block concluir"><i class="fa fa-language"></i> Anexar ou escrever Revisão</button>
            </div>
          </div>
          {% endif %}
        {% endif %}
        {% if translation.status == 'Aguardando Tradutor'%}
        {% if current_user.is_tradutor %}
          <div class="form-translation-show" style="margin-top:20px;">
              <h5 class="resume-subtitle">Aceitar Tradução</h5>
              <p class="small"></p>
              <div style="margin: auto; text-align: center;">
              <a href="/translations/accept/{{translation._id}}">
                <button class="btn btn-primary btn-lg btn-block"><i class="fa fa-language"></i> Quero fazer esse trabalho</button>
              </a>
              </div>
          </div>
          {% endif %}
        {% endif %}
    </div>
</div>
    <div class="col-sm-12 col-md-5">
      {% if translation.status != 'Aguardando Tradutor'%}
      <div class="form-translation-chat" {% if revisao %} style="height: 300px;" {% endif %}>
        {% verbatim %}
        <div class="chatMessages">
          <h3 style="text-align: center" v-if="comentarios.length == 0">Nenhum comentario ainda</h3>
            <div class="row" style="margin-bottom: 15px;" v-for="comentario in comentarios">
                <div class="col-md-3">
                      <img :src="comentario.user.picture" width="60px;" height="60px;" />
                </div>
                <div class="col-md-9">
                    <h5 v-if="comentario.user.is_tradutor"><strong>{{ comentario.user.uid }}</strong></h5>
                    <h5 v-else ><strong>Cliente</strong></h5>
                    <span v-if="comentario.is_review" class="label label-warning">Pedido de Revisão</span>
                    <p><i> {{comentario.time}} </i></p>
                    <p style="font-size: 0.9rem">{{ comentario.text }}</p>
                </div>
            </div>
        </div>
        {% endverbatim %}
        {% if translation.status == 'Concluído' %}
        {% else %}
          <div class="inputMessage" {% if revisao %} style="padding-top: 0" {% endif %}>
            <div data-intro='Conte para o tradutor o motivo da sua solicitação. Sua explicação é obrigatória para a revisão.' class="input-group">
            <input type="text" v-model="comment" class="form-control" style="border-right: 0;"placeholder="Adicionar algum comentário...">
            <span class="input-group-btn">
                <button @click="insertComment" class="btn btn-default" type="submit" style="border: 1px solid #cccc; background-color: transparent; border-left: 0; border-radius: 0; padding: 12px;">
                    <i class="fa fa-paper-plane"></i>
                </button>
            </span>
            </div>
        </div>
        {% endif %}
      </div>
      {% else %}
        <a href="/tickets"><button class="btn btn-primary btn-block">Tirar dúvida sobre a tradução</button></a>
      {% endif %}
    </div>
</div>
{% block extrajs %}
{% if revisao %}
<script>
   introJs().start();
</script>
{% endif %}
<script>
$(document).ready(function() {
   $('.concluir').click(function() {
       swal({
        showConfirmButton: false,
        title: 'Insira o texto ou o arquivo traduzido',
        html: "<form enctype='multipart/form-data' id='theForm' method='post'><textarea style='width: 100%; height: 200px; margin-bottom: 20px;' name='texto'></textarea><input type='file' name='documents' multiple></input><button class='btn btn-block btn-primary' style='margin-top:30px' type='submit'>Enviar</button></form>",
        })
   })
  
 })
</script>
{% endblock %}
<script>
  var vm = new Vue({
  el: '#app',
  data: {
    comment: '',
    comentarios: []
  },
  beforeCreate() {
    axios.get('/translations/comments/{{ translation._id }}')
    .then(response => {
      this.comentarios = response.data
    })
  },
  methods: {
    insertComment: function() {
      axios.post('/translations/comment', {
        text: this.comment,
        translation: '{{ translation.id }}',
        is_review: {% if revisao %} true {% else %} false {% endif %}
      })
      .then(response => {
        if(response.data.status == 'success') {
          this.comment = ''
          response.data.data.user = {}
          response.data.data.user._id = '{{ current_user._id }}'
          response.data.data.user.name = '{{ current_user.name }}'
          response.data.data.user.picture = '{{ current_user.picture }}'
          this.comentarios.push(response.data.data)
          console.log(response.data.data)
          toastr.success('Comentário adicionado com sucesso!')
        }
      })
    }
  }
})
</script>
{% endblock %}
