{% extends "../Templates/template.html" %}
{% block body %}
{% verbatim %}
<div class="row" id="app" style="margin-top: 50px;">
    <div class="col-xs-12 col-sm-12 col-md-6" style="
    margin: 0 auto;
    padding: 50px;
    padding-top:200px;
    padding-bottom:200px;
    background-color: #fff;
    background-image: url(https://plataforma.universotraducoes.com/images/corner.png);
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    text-align: center;
    color: #673872;
    font-weight: 400;
    font-size: 16px;
">
        <h2 style="font-weight: 600;">OBRIGADO!</h2>
        <br/>
        <p>Seu pagamento foi</p>
        <p>realizado com</p>
        <p><b>sucesso!</b></p>
        <br/>
        <p>Você já pode ingressar no seu painel de pedidos no link: <a href="/"> Painel de Pedidos</a></p>
        <br/>
        <img src="https://trello-attachments.s3.amazonaws.com/5c88f9faae42653719f426cd/5c8ababca4e26c31d0023d76/f14c15fdfa72fd1c1fe6d5c086558c5f/logo-ut-roxo-fundo-transparente.png" width="150px" alt="homepage" class="dark-logo">
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #e8e9eb">
        <h5 class="modal-title" id="exampleModalLabel" style="margin: 0 auto font-weight: bold;">Universo Traduções</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    {# $(document).ready(function() {
        Swal({
        html: '<div style="vertical-align: middle;"><i style="vertical-align: middle" class="fas fa-2x fa-circle-notch padding-loading fa-spin"></i> <span style="vertical-align: middle">Processando pagamento...</span></div>',
        timer: 150000,
        background: '#81468f',
        customClass: 'loading-container',
        allowEscapeKey: false,
        allowEnterKey: false,
        allowOutsideClick: false,
        showConfirmButton: false
        })
    }) #}
    $("#payment-button").click(function(e) {

        // Fetch form to apply Bootstrap validation
        var form = $(this).parents('form');
        
        if (form[0].checkValidity() === false) {
        e.preventDefault();
        e.stopPropagation();
        }
        else {
        // Perform ajax submit here
        form.submit();
        }
        
        form.addClass('was-validated');
    });
    $( "form" ).submit(function( event ) {
        let timerInterval
        Swal({
        html: '<div><i class="fas fa fa-circle-notch padding-loading fa-spin"></i> <span style="line-height: 50px">Processando pagamento...</span></div>',
        timer: 30000,
        background: '#81468f',
        customClass: 'loading-container',
        allowEscapeKey: false,
        allowEnterKey: false,
        allowOutsideClick: false,
        showConfirmButton: false
        })
    })
  $(function () { $("input").not("[type=submit]").jqBootstrapValidation(); } );
</script>
<script>
new Cleave('.cc-number', {
    creditCard: true,
    onCreditCardTypeChanged: function (type) {
        // update UI ...
    }
});
</script>
<script>
new Cleave('.cc-exp', {
    date: true,
    datePattern: ['m', 'y']
});
</script>
<script>
new Cleave('.cc-cvv', {
});
</script>
{% endblock %}