{% extends "../../Templates/admin.html" %}
{% block body %}
<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Linguas</h4>
                    </div>

                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0)">Admin</a>
                                </li>
                                <li class="breadcrumb-item active">Linguas</li>
                            </ol>
                            <a href="languages/new">
                              <button type="button" class="btn btn-info d-none d-lg-block m-l-15">
                                  <i class="fa fa-plus-circle"></i> Criar nova
                              </button>
                            </a>
                        </div>
                    </div>
                </div>
                {% if message %}
                <div class="alert alert-success"><i class="fa fa-check-circle"></i> Sucesso!</div>
                {% endif %}
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Linguas</h4>
                                <h6 class="card-subtitle">Linguas disponíveis</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Lingua</th>
                                                <th>Abreviação</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Lingua</th>
                                                <th>Abreviação</th>
                                                <th>Ações</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                        {% for language in languages %}
                                            <tr>
                                                <td>{{ language.name }}</td>
                                                <td>{{ language.abbreviation }}</td>
                                                <td>
                                                  <a href="languages/edit/{{language._id}}">
                                                    <i class="far fa-edit"></i>
                                                  </a>
                                                  <a href="languages/delete/{{language._id}}">
                                                    <i class="far fa-trash-alt"></i>
                                                  </a>
                                                </td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    {% endblock %}
    {% block extrajs %} 
    
    {% endblock %}
